#post-header-container {
  position: relative;
  background: #f7f9fa;
  border-bottom: solid 1px rgba(151, 151, 151, .2);
  display: block;
  height: 60px;
  margin-top: -10px;
  padding-top: 10px;

  #item-counter-container {
    position: absolute;
    top: 30px;
    right: 38px;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-size: 16px;
    color:#697b8c;
  }
}

/deep/
#post-header-tab {
  height: 30px;
  margin: 10px;
  display: block;

  .mat-tab-header {
    padding-left: 24px;
    border-bottom: none;
  }

  .mat-tab-item {
    margin-right: 10px;
    display: inline-flex;
  }

  .mat-tab-label {
    height: 36px;
  }

  .mat-tab-label-active {
    background-color: #0a85c0;
    opacity: 1;
    color: white;
    font-weight: bold;
  }

  .mat-ink-bar {
    display: none;
  }
}

