<form method="post"   enctype="multipart/form-data">
    <div fxLayout="row" >
        <div fxFlex="33" fxLayout="column" >

            <i class="material-icons md-cloud-upload md-dark md-inactive">cloud_upload</i>
            <div fxLayout="row" >
                <div fxLayout="cloumn" >
                    <span class="upload_text">
                        To get started,
                        </span>
                </div>
            <div fxLayout="cloumn" class="button-upload-bg">
                <input class="button-upload" type="button" align="center" name="UPLOAD" value="UPLOAD"(click)="onArchivoSeleccionado()"/>
            </div>
                <div fxLayout="cloumn" >
                    <span class="upload_text">
                        your csv file
                    </span>
                </div>
            </div>
            <input name="uploadFile" type="file" (change)="handleInputChange($event)">

        </div>
        </div>
</form>