@import "../../../assets/style/baseTheme/colorStyle";

#nav-drawer {

  width: 400px;
  a {
    color: $typography2;
    display: block;
  }

  header {

    height: 100px;
    background-color: $background1;
    p {
      color: $white;
      font-weight: bold;
    }

  }
}