<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div fxLayout="row" fxLayoutGap="20px">
        <span fxFlex="20" fxLayoutAlign="end center">{{'OPERATIONS.SEARCH_HISTORICAL.TITLE'|translate}}</span>
        <mat-form-field fxFlex="">
            <mat-select placeholder="{{'OPERATIONS.SEARCH_HISTORICAL.TAIL'|translate}}" multiple
                        [formControl]="searchForm.controls['tails']" required
                        [(ngModel)]="selectedOptions">

                <div id="search">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="{{'OPERATIONS.SEARCH_HISTORICAL.SEARCH'|translate}}" autofocus
                               [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>

                <mat-select-trigger>
                    {{searchForm.controls['tails'].value ? searchForm.controls['tails'].value[0] : ''}}
                    <span *ngIf="searchForm.controls['tails'].value?.length > 1"
                          class="example-additional-selection">
                        (+{{searchForm.controls['tails'].value.length - 1}} others)
                    </span>
                </mat-select-trigger>
                <mat-option #all value="ALL" (click)="onSelect(all)">{{'OPERATIONS.SELECT_ALL'|translate}}</mat-option>
                <mat-option *ngFor="let aircraft of aicraftList | filter : term" [value]="aircraft.tail">
                    {{aircraft.tail}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="15">
            <input matInput [matDatepicker]="from" placeholder="{{'OPERATIONS.SEARCH_HISTORICAL.FROM'|translate}}"
                   [formControl]="searchForm.controls['from']"
                   [max]="maxDate" [min]="minFrom" (dateChange)="onSelectFrom($event)" name="from" required>
            <mat-datepicker-toggle matSuffix [for]="from" id="cont-search-historical-from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="15">
            <input matInput [matDatepicker]="to" placeholder="{{'OPERATIONS.SEARCH_HISTORICAL.TO'|translate}}"
                   [formControl]="searchForm.controls['to']"
                   [max]="maxDate" [min]="minTo" name="to" required>
            <mat-datepicker-toggle matSuffix [for]="to" id="cont-search-historical-to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
        </mat-form-field>

        <div fxFlex="" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
            <button id="btn-search-historical-submit" type="submit" mat-button color="primary">
                {{'OPERATIONS.SEARCH_HISTORICAL.FILTER'|translate}}
            </button>
            <button id="btn-search-historical-reset" type="reset" mat-button color="primary" (click)="clearSearch()">
                {{'OPERATIONS.SEARCH_HISTORICAL.CLEAR'|translate}}
            </button>
        </div>
    </div>

</form>
