<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-card id="change-password">

        <mat-card-header>
            <mat-card-title class="mat-card-title">{{'AUTHENTICATION.CHANGE_PASSWORD' | translate}}</mat-card-title>
        </mat-card-header>
        <form [formGroup]="recoverPasswordForm" (submit)="changePassword(recoverPasswordForm)">
            <mat-card-content class="mat-card-content">
                <div>
                    <p>{{'AUTHENTICATION.CHECK_YOUR_EMAIL' | translate}}</p>
                    <p [innerHtml]="destination"></p>
                    <p>{{'AUTHENTICATION.TO_FIND_YOUR_CODE' | translate}}</p>
                </div>
                <mat-form-field>
                    <input id="in-recover-password-verification-code" class="verification-code" matInput placeholder="Verification Code" type="text"
                           [formControl]="recoverPasswordForm.controls['verificationCodeFormControl']"
                           [errorStateMatcher]="matcher"
                           [(ngModel)]="recoverPasswordService.data.verificationCode">

                    <button id="btn-recover-password-resend" mat-button class="button-resend" type="button"
                            (click)="resend(storageService.getRecoverAccount())">
                        {{'BUTTONS.RESEND' | translate}}
                    </button>
                    <mat-error *ngIf="verificationCodeFormControl.hasError('required')">
                        {{'AUTHENTICATION.ENTER_YOUR_CODE' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-field">
                    <input id="in-recover-password-password" matInput placeholder="Password" [type]="hidePw ? 'text' : 'password'"
                           [formControl]="recoverPasswordForm.controls['passwordFormControl']"
                           [errorStateMatcher]="matcher"
                           [(ngModel)]="recoverPasswordService.data.password">
                    <mat-icon id="btn-recover-password-hide-password" matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility' :
                        'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        {{'AUTHENTICATION.ENTER_YOUR_PASSWORD' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input id="in-recover-password-confirm-password" matInput placeholder="Confirm Password" [type]="hideCp ? 'text' : 'password'"
                           [formControl]="recoverPasswordForm.controls['confirmPasswordFormControl']"
                           [errorStateMatcher]="matcher"
                           [(ngModel)]="recoverPasswordService.data.confirmPassword" id="confirmPasswordId">
                    <mat-icon matSuffix (click)="hideCp = !hideCp">{{hideCp ? 'visibility' :
                        'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                        {{'AUTHENTICATION.ENTER_YOUR_CONFIRM_PASSWORD' | translate}}
                    </mat-error>
                </mat-form-field>
                <div>
                    {{'AUTHENTICATION.PASSWORD_VALIDATION' | translate}}
                </div>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">
                <button id="btn-recover-password-cancel" mat-button class="button-cancel" (click)="cancel()" type="button">
                    {{'BUTTONS.CANCEL' | translate}}
                </button>
                <button id="btn-recover-password-submit" mat-raised-button color="primary" class="button-change" type="submit">
                    {{'BUTTONS.CHANGE' | translate}}
                </button>
            </mat-card-actions>
        </form>

    </mat-card>
</div>

