@import './base.scss';

$padd-section: 25px;
$font-size: 16px;

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-dialog-content {
  max-height: calc(100vh - 170px);
}

.title-dialog-container {
  max-height: 65px;

  > div {
    margin: 0;
    height: 30px;
  }
  .title-dialog {
    color: mat-color($foreground, text);
    text-transform: uppercase;
    @include gen-component-font-size($font-size, 5);
  }
  .date-title-dialog {
    color: mat-color($foreground, secondary-text);
    @include gen-component-font-size($font-size, -1);
  }
  .close-dialog {
    @include gen-component-font-size($font-size, 14);
    margin: -10px 0 0 -2px;
    color: mat-color($foreground, secondary-text);
  }
  .msg-required-dialog {
    font-style: italic;
    color: mat-color($foreground, secondary-text);
    @include gen-component-font-size($font-size);
    font-weight: 400;

  }
}

.content-dialog-container {
  div.title-dialog {
    color: mat-color($primary);
    margin-bottom: 4px;
    @include gen-component-font-size($font-size, 1);
  }

  .sections-content {
    color: mat-color($foreground, secondary-text);

    /deep/
    #form-field-duration {
      .mat-form-field-infix {
        padding: 0 0 5px 0;
      }
    }

    .mat-error {
      @include gen-component-font-size($font-size, -4);
    }

    > div {
      border-top: 1px solid mat-color($foreground, divider);
      border-right: 1px solid mat-color($foreground, divider);
      border-bottom: 1px solid mat-color($foreground, divider);
      padding: 25px 30px;

      label {
        @include gen-component-font-size($font-size, -2);
      }


    }

    > div:first-child {
      padding-left: 0;
    }

    > div:last-child {
      border-right: none;
      padding-right: 0;
    }

    .title-section {
      @include gen-component-font-size($font-size, 2);
      color: mat-color($foreground, text);
      padding: 0 0 10px 0;
      display: block;
    }
    .label-element {
      color: #546e7a;
      @include generate-font-size(2);
      padding: 5px 0 0 0;
    }
    .alert-warning {
      color: mat-color($warn);
    }

  }
}