@mixin generate-font-size($extra: 0){
  font-size: $base-font+$extra;
}

@mixin gen-component-font-size($base:0, $extra: 0){
  font-size: $base+$extra;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}
