// Sizes
$base-font: 17px;

$navbar-height: 49px;

$nav-drawer-width: 320px;

$nav-details-width: 43px;

$details-header-height: 116px;

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);

$base-margin: 20px;

$min-x-res: 1366px;

$list-item-height: 55px;

$font-family: 'Noto Sans', 'Tahoma', 'Arial', sans-serif;

