@import '../../assets/style/baseTheme/sizeStyle';

#nav-drawer-container {
    height: calc(100vh);
}
/deep/
.mat-drawer-content.mat-sidenav-content{
    overflow: hidden;
}
/deep/
.main-panel{
    overflow: auto;
    @include container-height();
}