<section *ngIf="!isTemplate" [ngStyle]="{'border-color': kanbanCard.color}" fxLayout="column" fxLayoutGap="2px">
    <h3 fxFlex >{{kanbanCard.stageCode}}</h3>
    <p fxFlex >{{kanbanCard.activity}}</p>
    <div fxLayout="row" >
        <div fxFlex>
            <span class="badge">{{kanbanCard.unit}}</span>
        </div>
        <div fxLayout="row" fxFlexAlign="end end" >
            <span>{{'AOG.LIST.RECOVERY_PLAN.KANBAN.ALTERNATIVE' | translate}}</span>
            <mat-slide-toggle [checked]="kanbanCard.isAlternative"></mat-slide-toggle>
        </div>
    </div>
</section>
<div *ngIf="isTemplate">
    <h3 fxFlex >{{kanbanCard.stageCode}}</h3>
</div>

