<div mat-dialog-title fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1>CONTINGENCY CREATION</h1>
        <button mat-icon-button fxLayoutAlign="end">
            <mat-icon aria-label="Example icon-button">close</mat-icon>
        </button>
    </div>
    <span>All fields with (*) are required</span>

</div>
<div mat-dialog-content>
    <div>
        <span>Contingency Information</span>
    </div>

    <form>
        <div fxLayout="row" class="form-container">

            <div fxFlex="33" fxLayout="column" fxLayoutGap="30px" class="operation-container">
                <span>Operation Info</span>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                    <mat-form-field fxFlex="15">
                        <input matInput placeholder="A/C" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <input matInput placeholder="Fleet" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <input matInput placeholder="Operator" required>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <mat-checkbox labelPosition="after" fxFlex="15">Back up</mat-checkbox>
                    <mat-form-field fxFlex="15">
                        <input matInput placeholder="Flight" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="15">
                        <mat-select placeholder="From">
                            <mat-option value="option1">option 1</mat-option>
                            <mat-option value="option2">option 2</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <mat-select placeholder="To">
                            <mat-option value="option1">option 1</mat-option>
                            <mat-option value="option2">option 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <span>Flight Time (ETD) *</span>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <mat-form-field fxFlex="15">
                            <input matInput placeholder="hh:mm">
                        </mat-form-field>
                        <label fxFlex="10">UTC</label>
                        <mat-form-field fxFlex="25">
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Informer * :</span>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <mat-checkbox labelPosition="after" fxFlex="15">CCO</mat-checkbox>
                        <mat-checkbox labelPosition="after" fxFlex="15">Maintenance</mat-checkbox>
                    </div>

                </div>

            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutGap="30px" class="safety-container">
                <span>Safety Event Info</span>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Safety Event *</span>
                    <mat-radio-group fxLayoutGap="20px">
                        <mat-radio-button labelPosition="after" value="1">Yes</mat-radio-button>
                        <mat-radio-button labelPosition="after" value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>

            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutGap="30px" class="maintenance-container">
                <span>Maintenance Info</span>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Contingency Type * :</span>
                    <div fxLayout="row">
                        <mat-checkbox labelPosition="after" fxFlex>Contingency in the Operation</mat-checkbox>
                        <mat-checkbox labelPosition="after" fxFlex>Extended Maintenance</mat-checkbox>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Failure Type * :</span>
                    <div fxLayout="row">
                        <mat-checkbox labelPosition="after" fxFlex="25">Damage</mat-checkbox>
                        <mat-checkbox labelPosition="after" fxFlex="25">Technical</mat-checkbox>
                    </div>
                </div>
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Observations to Maintenance"></textarea>
                </mat-form-field>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Tipology * </span>
                    <div fxLayout="row">
                        <mat-checkbox labelPosition="after" fxFlex="10">NI</mat-checkbox>
                        <mat-checkbox labelPosition="after" fxFlex="10">ETR</mat-checkbox>
                        <span fxFlexOffset="10" fxLayoutAlign="center center">The ETR must be validated by the Maintenance Team</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span>Interval</span>
                    <div fxLayout="row">

                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Interval">
                                <mat-option value="option1">30 minutes</mat-option>
                                <mat-option value="option2">60 minutes</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span fxFlexOffset="5" fxLayoutAlign="center center">The ETR must be validated by the Maintenance Team</span>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
<div mat-dialog-actions fxLayoutAlign="end">
    <button mat-button (click)="onCancelClick()">CANCEL</button>
    <button mat-button mat-raised-button color="primary" (click)="onCancelClick()">CREATE</button>
</div>