@import '../../../assets/style/base.scss';

#toolbar {
    background-color: mat-color($primary, default-contrast);
    font-family: 'Noto Sans', 'Tahoma', 'Arial', sans-serif;
    color: mat-color($foreground, secondary-text);
    min-height: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
    height: $navbar-height;
    position: fixed;
    z-index: 2;

    h1{
        font-size: 15px;
        font-family: 'Noto Sans', 'Tahoma', 'Arial', sans-serif;
        padding: 0 20px;
    }

    .mat-icon {
        color: mat-color($primary);
    }

    figure {
        font-family: Noto Sans;
        background: url('../../../assets/img/logo-pmoc.svg') no-repeat 0 11px;
        display: inline-block;
        height: 38px;
        width: 180px;
        background-size: 100%;
    }

    aside{
        width: 100%;
        text-align: right;
        display: inline-block;
        font-size: 13px;

        #datetime{
            padding: 0 10px;
            color: mat-color($foreground, text);
        }

        /deep/
        .mat-input-container{
            width: 120px;
        }
    }
}