@import 'main.scss';

$top-header-size: 11px;

section {

  b {
    font-weight: bold;
  }

  padding: 10px;
  background-color: mat-color($mat-palette-custom, background-grey);

  header {
    padding: 5px 0;
    div {
      div, .mat-icon {
        font-size: $top-header-size;
      }
      .mat-icon {
        width: $top-header-size;
      }
      .mat-raised-button {
        padding: 5px;
        margin: 0;
        line-height: normal;
        text-transform: uppercase;
        font-size: $top-header-size;
      }
      h1 {
        @include generate-font-size(-1);
      }
      .badge {
        border-radius: 2px;
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
        text-transform: uppercase;
        font-weight: bold;
        padding: 0px 5px;
        margin: 0 0 5px 0;
      }
    }
    div:first-child {
      margin: 0 0 3px 0;
    }
    span.badge.deferral {
      background-color: mat-color($mat-palette-custom, tl-deferral-task);
      color: mat-color($primary, default-contrast);
    }
    span.badge.preventive {
      background-color: mat-color($mat-palette-custom, tl-preventive);
      color: mat-color($primary, default-contrast);
    }
    span.badge.task {
      background-color: mat-color($warn);
      color: mat-color($primary, default-contrast);
    }
  }

  .content {
    p, div {
      @include generate-font-size(-3);
      line-height: 18px;
    }

    #fault-name {
      margin: 0 0 15px 0;
      p {
        text-transform: uppercase;
      }
    }

    #description {
      p {
        color: mat-color($foreground, secondary-text);
      }
    }
    #job-steps {
      ol {
        list-style: inside decimal;
        color: mat-color($foreground, secondary-text);
        @include generate-font-size(-5);
      }
    }
    h2 {
      text-transform: uppercase;
      @include generate-font-size(-3);
      padding: 5px 0 15px 0;
      font-weight: bold;
    }
    .mat-accordion {
      .mat-expansion-panel {
        box-shadow: none;
      }
    }

    .mat-table {
      background-color: transparent;

      .mat-header-row {
        font-weight: bold;
      }

      .mat-row {
        > div {
          word-break: break-all;
        }
      }

      div {
        @include generate-font-size(-4);
        > span {
          display: block;
        }
      }
    }
  }

  hr {
    color: mat-color($foreground, divider);
    border-color: mat-color($foreground, divider);
  }

  hr.segment {
    border-style: dashed;
  }

}

/deep/
#analysis-historical {
  p {
    strong {
      font-weight: bold;
    }
    u {
      font-style: oblique;
    }
  }

}
