<div id="nav-drawer">
    <header>
        <i class="material-icons">account_circle</i>
        <h1>{{ userArray.name }}</h1>
        <p>{{ userArray.username }}</p>
    </header>
    <nav class="margin-nav">
        <a id="lnk-sidenav-{{menu.link.split('/').join('')}}" *ngFor="let menu of arrMenu" routerLink="{{menu.link}}" routerLinkActive="active" (click)="toggleSidenav()">
            <i class="material-icons" [innerHtml]="menu.icon"></i>
            <span [innerHtml]="menu.label"></span>
        </a>
    </nav>
    <hr>
    <nav class="margin-nav">
        <a id="lnk-sidenav-{{menu.link.split('/').join('')}}" *ngFor="let menu of arrFooterMenu" routerLink="{{menu.link}}" routerLinkActive="active">
            <i class="material-icons" [innerHtml]="menu.icon"></i>
            <span [innerHtml]="menu.label"></span>
        </a>
    </nav>
    <hr>
    <footer>

    </footer>
</div>
