@import '../../../assets/style/base.scss';

/deep/
#nav-drawer {

  width: $nav-drawer-width;

  header {

    height: 152px;
    background-color: mat-color($primary);
    padding: 20px 15px;

    p {
      color: mat-color($primary, default-contrast);
      margin: 5px 0;
      font-size: 12px;
    }

    h1{
      font-size: 14px;
      color: mat-color($primary, default-contrast);
      font-weight: bold;
      margin: 0 0 12px 0;
    }

    .material-icons{
      color: mat-color($primary, default-contrast);
      font-size: 75px;
      margin: 10px 0;
    }

  }

  nav {
    height: 48px;

    a {
      color: mat-color($foreground, text);
      font-size: 16px;
    }

    a.just-link {
      display: flex;
      padding: 20px;
    }

    > div {
      display: flex;

      > a {
        color: mat-color($foreground, secondary-text);
      }

      > div {
        padding: 10px 20px;
        width: 100%;

        > div {
          display: flex;
          a {
            margin: 10px 0 10px 75px;
            width: 100%;
          }
        }
      }
    }

    .material-icons{
      font-size: 20px;
      float: left;
      padding: 0 36px 0 0;
      color: mat-color($foreground, secondary-text);
    }

    .mat-expansion-panel {
      box-shadow: none;
      width: 100%;
      border-top: thin solid mat-color($mat-palette-custom, selected-card);
      border-bottom: thin solid mat-color($mat-palette-custom, selected-card);
      border-bottom: thin solid mat-color($mat-palette-custom, selected-card);
    }

    .title, .title .mat-expansion-panel-header-title {
      color: mat-color($foreground, secondary-text);
      font-size: 16px;
      font-family: $font-family;
    }

    .mat-expansion-panel-header {
      padding: 0 20px;
      > span.mat-content {
        display: inline-block;
        > .mat-expansion-panel-header-title {
          display: inline-block;
          padding: 0;
        }
      }
    }

    .mat-expansion-panel-body {
      font-size: 14px;
      padding: 0 20px;

      > div {

        > div {
          padding: 10px 0;

          > div {
            flex-wrap: wrap;
            display: flex;
          }
        }

      }

      a {
        margin: 10px 0 10px 75px;
        font-family: $font-family;
        width: 100%;
      }
    }
  }

  nav.margin-nav {
    margin-top:8px;
  }

  hr{
    border-color: mat-color($foreground, divider);
    margin: 0;
  }
}
