<div id="nav-drawer">
    <header>
        <i class="material-icons">account_circle</i>
        <h1 [innerHtml]="user.name"></h1>
        <p [innerHtml]="user.username"></p>
    </header>
    <nav>
        <a *ngFor="let menu of arrMenu" routerLink="{{menu.link}}" routerLinkActive="active" (click)="toggleSidenav()">
            <i class="material-icons" [innerHtml]="menu.icon"></i>
            <span [innerHtml]="menu.label"></span>
        </a>
    </nav>
    <hr>
    <footer>
        <nav>
            <a *ngFor="let menu of arrFooterMenu" routerLink="{{menu.link}}" routerLinkActive="active">
                <i class="material-icons" [innerHtml]="menu.icon"></i>
                <span [innerHtml]="menu.label"></span>
            </a>
        </nav>
    </footer>
</div>
