// Palettes
$mat-palette-primary: (
        50 : #e2f0f7,
        100 : #b6daec,
        200 : #85c2e0,
        300 : #54aad3,
        400 : #2f97c9,
        500 : #0a85c0,
        600 : #097dba,
        700 : #0772b2,
        800 : #0568aa,
        900 : #03559c,
        A100 : #c7e2ff,
        A200 : #94c7ff,
        A400 : #61adff,
        A700 : #479fff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
$mat-palette-secondary: (
        50 : #fef7e3,
        100 : #fbecb9,
        200 : #f9df8b,
        300 : #f7d25d,
        400 : #f5c83a,
        500 : #f3be17,
        600 : #f1b814,
        700 : #efaf11,
        800 : #eda70d,
        900 : #ea9907,
        A100 : #ffffff,
        A200 : #fff3e0,
        A400 : #ffdfad,
        A700 : #ffd593,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mat-palette-custom: (
        success: #66BB6A,
        background-grey: #f9f9f9,
        light-grey: #7d7d7d,
        ni: #FFB300,
        ni1: #ef5350,
        ni2: #fb8c00,
        ni3: #f3be17,
        etr: #479FFF,
        selected-card: #e6e6e6,
        tl-deferral-task: #ffa726,
        tl-default-background: #ddd,
        tl-default-font:#1a1a1a,
        tl-extended-background: #f8f8f8,
        tl-no-apply-bar: #9B9B9B,
        tl-preventive: #4caf50,
        tl-aog-etr: #479fff,
        tl-aog-ni: #ffb300,
        contrast: (
        )
);