<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-card id="login">

    <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <form #f="ngForm" (submit)="logIn(f)">
        <mat-card-content>
            <mat-form-field class="mat-form-field">
                <input matInput placeholder="Username" type="text" required>

                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input matInput placeholder="Password" type="password" required>

                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <div class="need-help">
                    <a>Need Help?</a>
                </div>
                <button class="mat-button">SIGN IN</button>
            </mat-card-actions>
        </form>

    </mat-card>
</div>
