@import '../../../../assets/style/base.scss';

$min-res-table: 1400px;
$contingency-header: 76px;
$cell-xs: 5%;
$cell-s: 6%;
$cell-m: 8%;
$cell-l: 10%;
$cell-xl: 100%;
.counter-container{
  height: 55px;
  padding: 5px 16px;
  color: mat-color($foreground, 'text');
  margin: auto 25px;
}

.list-contingency{
  @include generate-font-size(-5);
  color: mat-color($foreground, 'text');
  margin: auto 25px;
  header{
    padding: 5px 16px;
  }
  .contingency-item {
    border: solid 1px rgba(202, 202, 202, .43);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .14);
    margin-bottom: 10px;
    background: rgba(236, 239, 241, .35);
    padding: 5px 16px;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    min-width: 20px;
    cursor: pointer;

    .active{

    }

    strong {
      font-weight: bold;
    }

    .flag-icon {
      width: 24px;
      height: 24px;
      display: inline-flex;
      vertical-align: middle;
      background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/cl.svg');
      background-size: 24px;
      border-radius: 50%;
    }

    .description {
      text-transform: uppercase;
    }

    .badge {
      background-color: mat-color($foreground, 'secondary-text');
      margin: 0;
      font-size: 10px;
      color: white;
      padding: 2px 15px;
      border-radius: 2px;
      font-weight: 500;
    }

    .badge-safety-event {
      background-color: #546e7a;
    }

    .ni1 {
      background-color: mat-color($custom, 'ni1');
    }

    .ni2 {
      background-color: mat-color($custom, 'ni2');
    }

    .ni3 {
      background-color: mat-color($custom, 'ni3');
    }

    .etr {
      background-color: mat-color($primary, 'A700');
    }

    .aog{
      background-color: mat-color($warn);
    }

    .rlsd{
      background-color: mat-color($custom, 'success');
    }

    .historical-bar{
      span{
        float: right;
        margin: 3px 0 0 0;
      }
    }
  }
  .contingency-item.active{
    background-color: #eaf2f5;
  }

}