<section id="details-follow-up">
    <section class="box">
        <h2>Tipology</h2>
        <div fxLayout="row">
            <span class="tag">NI 2</span>
            <span class="tag etr">ETR</span>
        </div>
        <div fxLayout="row">
            <aside fxFlex="40" id="interval-select">
                <mat-form-field>
                    <mat-select placeholder="Interval">
                        <mat-option>30 minutes</mat-option>
                        <mat-option>45 minutes</mat-option>
                    </mat-select>
                </mat-form-field>
            </aside>
            <div fxFlex="30" >
                <mat-icon>account_circle</mat-icon>
                OCT.12.2017
            </div>
            <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                <mat-icon>today</mat-icon>
                30 min ago
            </div>
        </div>
        <form action="">
            <mat-form-field class="full-width">
                <input matInput placeholder="Write your comment">
            </mat-form-field>
        </form>
    </section>
</section>