<section id="follow-up">
    <section class="box">
        <form [formGroup]="followUpForm" (ngSubmit)="submitForm(followUpForm.value)">
            <h2>Tipology</h2>
            <div fxLayout="row">
                <mat-button-toggle-group #group="matButtonToggleGroup" [formControl]="followUpForm.controls['code']">
                    <ng-container *ngFor="let codes of statusCodes">
                        <mat-button-toggle [value]="codes.code" *ngIf="codes.isVisible" (click)="selectActiveCode(codes.code)">
                            {{ codes.code }}
                        </mat-button-toggle>
                    </ng-container>
                </mat-button-toggle-group>
                <mat-error *ngIf="validations.isSubmitted && followUpForm.controls['code'].untouched">Contingency type is required</mat-error>
            </div>

            <div fxLayout="column" class="safety-container" *ngIf="currentSafeEventCode === null">
                <div fxLayout="column" fxLayoutGap="15px">
                    <mat-checkbox labelPosition="after" fxFlex="20" [formControl]="followUpForm.controls['safety']" [(ngModel)]="validations.optionalIsChecked" (click)="onSelectOptional()">
                        Safety Event
                    </mat-checkbox>
                </div>
                <div fxLayout="column" *ngIf="followUpForm.controls['safety'].value">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="70">
                            <mat-select
                                    placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.TECHNICAL_TYPE_PLACEHOLDER' | translate }}"
                                    [formControl]="followUpForm.controls['safetyEventCode']" required>
                                <mat-option *ngFor="let safety of safetyEventList" [value]="safety.code">{{
                                    safety.description }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <span class="alert-warning">{{'OPERATIONS.CONTINGENCY_FORM.SAFETY_MESSAGE'|translate}}</span>
                </div>

            </div>

            <div fxLayout="row">
                <aside fxFlex="40" id="interval-select">
                    <mat-form-field>
                        <mat-select placeholder="Interval" [formControl]="followUpForm.controls['duration']">
                            <mat-option [value]="min" *ngFor="let min of durations" (click)="getCurrentTime()">{{ min }} minutes</mat-option>
                        </mat-select>
                    </mat-form-field>
                </aside>
                <div fxFlexOffset="5" fxFlex="60" fxLayoutAlign="center center">
                    <div fxLayout="row" fxFlex="60">
                        <mat-icon>today</mat-icon>
                        <span fxLayoutAlign="center center">{{ currentUTCTime | date : 'dd.MMM.yyyy'}}</span>
                    </div>
                    <div fxLayout="row" fxFlex="40" fxFlexOffset="5">
                        <mat-icon>access_time</mat-icon>
                        <span fxLayoutAlign="center center">{{ currentUTCTime + (followUpForm.controls['duration'].value * 60000) | date : 'HH:mm' : '+0'}}</span>
                    </div>
                    <span fxFlex=""> UTC</span>
                </div>
            </div>
            <div fxLayout="row" *ngIf="validations.timeAlert">
                Maximum time available: {{ validations.delta }} minutes
            </div>
            <mat-form-field class="full-width">
                    <textarea matInput
                              placeholder="{{'OPERATIONS.CONTINGENCY_DETAILS.FOLLOW_UP.OBSERVATION_TITLE' | translate}}"
                              [formControl]="followUpForm.controls['observation']" required>

                    </textarea>
                <mat-error *ngIf="followUpForm.controls['observation'].hasError('required') && followUpForm.controls['observation'].touched">
                    Observation is required
                </mat-error>
            </mat-form-field>
            <div mat-dialog-actions fxLayoutAlign="end">
                <button type="button" mat-button (click)="closeDetails()">
                    {{'OPERATIONS.CONTINGENCY_FORM.CANCEL_LABEL'|translate}}
                </button>
                <button type="submit" mat-button mat-raised-button color="primary" [disabled]="validations.isFollowUpDisabled">
                    {{'OPERATIONS.CONTINGENCY_FORM.CREATE_LABEL'|translate}}
                </button>
            </div>
        </form>
    </section>
</section>