<form id="resolve-form" [formGroup]="resolveForm" #formResolve="ngForm" (ngSubmit)="submitForm(resolveForm.value)">
    <div mat-dialog-title class="title-dialog-container" fxLayout="column">
        <div >
            <span class="title-dialog" fxFlex>{{currentContingency.aircraft.tail}} {{currentContingency.aircraft.fleet}} {{currentContingency.flight.flightNumber}} {{currentContingency.flight.origin}}-{{currentContingency.flight.destination}} {{currentContingency.flight.etd.epochTime|date : 'HH:mm'}}</span>
            <button (click)="closeDialog()" id="btn-resol-pending-form-close-btn" type="button" class="close-btn" mat-icon-button
                    fxFlexOffset="1">
                <mat-icon aria-label="Example icon-button" class="material-icons close-dialog">{{ 'OPERATIONS.CONTINGENCY_FORM.CLOSE' | translate }}
                </mat-icon>
            </button>
        </div>
        <div id="reason-resolve-pending" >{{currentContingency.reason}}</div>
    </div>
    <mat-accordion multi="true" displayMode="flat">
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>Directory</mat-panel-title>
                <mat-panel-description fxLayoutAlign="end">0 / 2 Pendings resolved</mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column">
                <div fxLayout="row">
                1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non venenatis metus. Aliquam nec lacinia ex, vitae sodales ipsum. Duis suscipit at mi in commodo.
                    x
                </div>
                <div fxLayout="row">
                    Resolved <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div fxLayout="column">
                <div fxLayout="row">
                 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non venenatis metus. Aliquam nec lacinia ex, vitae sodales ipsum. Duis suscipit at mi in commodo.
                </div>
                <div fxLayout="row">
                    Resolved <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Active</mat-panel-title>
                <mat-panel-description fxLayoutAlign="end">0 / 2 Pendings resolved</mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column">
                <div fxLayout="row">
                    1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non venenatis metus. Aliquam nec lacinia ex, vitae sodales ipsum. Duis suscipit at mi in commodo.
                    x
                </div>
                <div fxLayout="row">
                    Resolved <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div fxLayout="column">
                <div fxLayout="row">
                    2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non venenatis metus. Aliquam nec lacinia ex, vitae sodales ipsum. Duis suscipit at mi in commodo.
                </div>
                <div fxLayout="row">
                    Resolved <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button id="btn-contingency-form-cancel" type="button" mat-button (click)="closeDialog()">
            {{'OPERATIONS.CONTINGENCY_FORM.CANCEL_LABEL'|translate}}
        </button>
        <button id="btn-contingency-form-submit" type="submit" mat-button mat-raised-button color="primary">
            {{'BUTTONS.SAVE'|translate}}
        </button>
    </div>

</form>