// Base Colors

$yellow: #f3be17;
$white: #ffffff;
$red: #ff1620;
$green: #00b000;
$blue: #0a85c0;

$typography-dark: #37474f;
$typography-normal: #607d8b;
$typography-light: #607d8b;


$grey-50: #323232;
$grey-77: #4d4d4e;
$grey-125: #7d7d7d;
$grey-181: #b5b5b5;
$grey-243: #f4f3f3;
$grey-200: #c8c8c8;

$black-12p: rgba(0, 0, 0, .12);
$black-20p: rgba(0, 0, 0, .2);
$black-54p: rgba(0, 0, 0, .54);
$black-87p: rgba(0, 0, 0, .87);
