<div class="counter-container" fxLayout="column" fxLayoutAlign="center" *ngIf="checkDataStatus()">
    <div>
        {{ 'OPERATIONS.SHOWING' | translate }}
        {{infiniteScrollService.viewedRecords}}
        {{ 'OPERATIONS.OF' | translate }}
        {{infiniteScrollService.length}}
        {{ 'OPERATIONS.CONTINGENCIES_WITH_PENDINGS' | translate }}
    </div>
</div>

<div class="reg-list" *ngIf="checkDataStatus()">
    <header fxLayout="row" class="">
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'OPERATIONS.TAIL_FLEET' | translate }}</div>
        <div fxFlex="5" fxLayoutAlign="start center">{{ 'OPERATIONS.OPERATOR' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'OPERATIONS.FLIGHT' | translate }}</div>
        <div fxFlex="8" fxLayoutAlign="start center">{{ 'OPERATIONS.FROM_TO' | translate }}</div>
        <div fxFlex="28" fxLayoutAlign="start center">{{ 'OPERATIONS.DESCRIPTION' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'OPERATIONS.STATUS' | translate }}</div>
        <div fxFlex="5" fxLayoutAlign="start center">{{ 'OPERATIONS.TYPE' | translate }}</div>
        <div fxFlex="8" fxLayoutAlign="start center">{{ 'OPERATIONS.SAFETY_EVENT' | translate }}</div>
        <div fxFlex="8" fxLayoutAlign="start center">{{ 'OPERATIONS.TOTAL_PENDINGS' | translate }}</div>
        <div fxFlex="3">&nbsp;</div>
        <div fxFlex="22">&nbsp;</div>
    </header>
    <content>
        <div fxLayout="row"
             [class.active]="contingency.id === selectedContingency.id"
             *ngFor="let contingency of contingencyService.contingencyList"
             class="contingency-item">
            <!--TAIL/FLEET-->
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="7" (click)="openDetails(contingency, 'follow-up')">
                <span>{{ contingency.aircraft.tail }}</span>
                <span>{{ contingency.aircraft.fleet }}</span>
            </div>

            <!-- OPERATOR -->
            <div fxLayout="row" fxFlex="5" fxLayoutAlign="start center" (click)="openDetails(contingency, 'follow-up')">
                <span>{{ contingency.aircraft.operator }}</span>
            </div>

            <!-- FLIGHT -->
            <div fxFlex="7" fxLayoutAlign="start center" (click)="openDetails(contingency, 'follow-up')">{{
                contingency.flight.flightNumber }}
            </div>

            <!-- FROM / TO -->
            <div fxFlex="8" fxLayoutAlign="start center" (click)="openDetails(contingency, 'follow-up')" *ngIf="!contingency.isBackup">{{ contingency.flight.origin }} / {{ contingency.flight.destination }}</div>
            <div fxFlex="8" fxLayoutAlign="start center" (click)="openDetails(contingency, 'follow-up')" *ngIf="contingency.isBackup">{{ contingency.backup.location }}</div>

            <!-- REASON -->
            <div fxFlex="28" fxLayoutAlign="start center" class="description" (click)="openDetails(contingency, 'follow-up')">{{(contingency.reason.length > 65) ? (contingency.reason | slice:0:65) + '...' : contingency.reason }}</div>

            <!-- STATUS -->
            <div fxFlex="7" fxLayoutAlign="start center">
                <span (click)="openDetails(contingency, 'follow-up')" *ngIf="!historicalSearchService.active" class="badge {{ contingency.status.code | lowercase }}">{{ contingency.status.code | uppercase }}</span>
                <span *ngIf="historicalSearchService.active" class="badge {{ contingency.close.type | lowercase }}">{{ contingency.close.type | uppercase }}</span>
            </div>

            <!-- TYPE -->
            <div fxLayout="column" fxFlex="5" fxLayoutAlign="center" (click)="openDetails(contingency, 'follow-up')">
                <div><strong>CONT</strong></div>
                <div>{{ contingency.type }}</div>
            </div>

            <!-- SAFETY EVENT -->
            <div class="safety-event" fxFlex="8" fxLayoutAlign="start center" (click)="openDetails(contingency, 'follow-up')">
                <span class="badge"
                      *ngIf="contingency.safetyEvent.code?.length > 0">{{ contingency.safetyEvent.code }}</span>
                <mat-icon *ngIf="contingency.hasPendingMeeting">fiber_manual_record</mat-icon>
            </div>
            <!-- PENDINGS -->
            <div class="cont-pendings" fxLayout="column" fxFlex="8" fxLayoutAlign="center" (click)="openDetails(contingency, 'follow-up')">
                <div *ngIf="contingency.ttlPending">{{ contingency.ttlPending>9?'9+': contingency.ttlPending}}</div>
            </div>

            <!-- FOCAL -->
            <div fxFlex="3" fxLayoutAlign="start center" *ngIf="!detailsService.open"
                 (click)="openDetails(contingency, 'follow-up')">
            </div>

            <div fxFlex="22" fxLayoutAlign="end end" >
                <button id="btn-pending-list-{{ contingency.aircraft.tail }}" mat-icon-button [matMenuTriggerFor]="menu" (click)="setSelectedContingency(contingency)">
                    <mat-icon aria-label="options">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openCloseContingency(contingency)" [disabled]="contingency.isClose">
                        <span>{{ 'BUTTONS.SUB_MENUS.CLOSE_CONTINGENCY' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="openMeeting(contingency)">
                        <span>{{ 'BUTTONS.SUB_MENUS.MEETING' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="openDetails(contingency, 'follow-up')" [disabled]="contingency.status.code === 'ETR' || contingency.status.code === 'NI4' || contingency.isClose">
                        <span>{{ 'BUTTONS.SUB_MENUS.FOLLOW_UP' | translate }}</span>
                    </button>
                    <button [disabled]="contingency.ttlPending === 0" mat-menu-item (click)="openPending(contingency)" >
                        <span>{{ 'BUTTONS.SUB_MENUS.PENDING' | translate }}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </content>
</div>
<mat-paginator #contPaginator [hidden]="!checkDataStatus()"
       [length]="infiniteScrollService.length"
       [pageSize]="infiniteScrollService.pageSize"
       [pageSizeOptions]="infiniteScrollService.pageSizeOptions">
</mat-paginator>
<lsl-ess icon="flight_takeoff" message="ESS.NO_CONTINGENCIES_FOUND" *ngIf="contingencyService.contingencyList.length === 0 && !contingencyService.loading"></lsl-ess>
<div class="loader-container" fxLayoutAlign="center center" *ngIf="contingencyService.loading"><mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner></div>