<div id="aog-list" class="reg-list" *ngIf="aogList.length !== 0 && !error && !loading">
    <div class="active-aogs">
        {{paginatorObjectService.length}}
        <span *ngIf="paginatorObjectService.length !== 1">{{'AOG.ACTIVE_AOGS' | translate}}</span>
        <span *ngIf="paginatorObjectService.length === 1">{{'AOG.ACTIVE_AOG' | translate }}</span>

    </div>
    <header fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="7" fxLayoutAlign="start center">{{'AOG.LIST.TAILFLEET' | translate}}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{'AOG.LIST.OPERATOR' | translate}}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{'AOG.LIST.BARCODE' | translate}}</div>
        <div fxFlex="28" fxLayoutAlign="start center" class="description">{{'AOG.LIST.REASON' | translate}}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{'AOG.LIST.NEXTSTEP' | translate}}</div>
        <div fxFlex="15" fxLayoutAlign="start center">{{'AOG.LIST.STATUS' | translate}}</div>
        <div fxFlex="15" fxLayoutAlign="start center">{{'AOG.LIST.DURATION' | translate}}</div>
        <div fxFlex="11">&nbsp;</div>
    </header>
    <content>
        <div fxLayout="row" *ngFor="let aog of aogList" class="contingency-item" fxLayoutGap="20px">
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                <span>{{aog.tail}}</span>
                <span>{{aog.fleet}}</span>
            </div>
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                <span>{{aog.operator}}</span>
            </div>
            <div fxFlex="7" fxLayout="row" fxLayoutAlign="start center">
                {{aog.barcode}}
            </div>
            <div fxFlex="28" (mouseout)="toEdit = null"  (mouseover)="toEdit = aog.id" class="description" fxLayout="row" fxLayoutAlign="start center" (click)="editReason(aog)">
                <span fxFlex="90">{{(aog.reason.length > 65) ? (aog.reason | slice:0:65) + '...' : aog.reason}}</span>
                <span fxFlex="10" [hidden]="toEdit !== aog.id">
                    <mat-icon>edit</mat-icon>
                </span>
            </div>
            <div fxFlex="7" fxLayout="row" fxLayoutAlign="start center"></div>
            <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <div fxLayout="column" ngClass="badge aog-{{aog.status.code.toLowerCase()}}" fxLayoutAlign="center center"
                     class="aog-status">{{aog.status.code}}
                </div>
                <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon *ngIf="aog.safety !== null" class="aog-warn-icon">warning</mat-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <lsl-countdown [creationTime]="aog.status.requestedInterval.dt.epochTime"
                                   [duration]="aog.status.requestedInterval.duration" [threshold]="5"></lsl-countdown>
                </div>
            </div>
            <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <mat-icon class="mat-icon-adj">timer</mat-icon>
                </div>
                <div fxLayout="column" fxLayoutAlign="start center">
                    <lsl-countdown [creationTime]="aog.status.requestedInterval.dt.epochTime"
                                   [duration]="aog.status.requestedInterval.duration" [threshold]="5"></lsl-countdown>

                </div>
            </div>
            <div fxFlex="11" fxLayoutAlign="end end">
                <button id="btn-aog-list-{{ aog.tail }}" class="btn-aog-list" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-label="options">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openCloseAircraftOnGround(aog)">
                        <span>{{ 'BUTTONS.SUB_MENUS.CLOSE_AOG' | translate }}</span>
                    </button>
                </mat-menu>

            </div>
        </div>
    </content>
</div>
<div [hidden]="!(aogList.length  && !error && !loading)">
    <mat-paginator #contPaginator
                   [length]="paginatorObjectService.length"
                   [pageSize]="paginatorObjectService.pageSize"
                   [pageSizeOptions]="paginatorObjectService.pageSizeOptions">
    </mat-paginator>
</div>
<lsl-ess icon="flight_takeoff" message="ESS.NO_AOGS_FOUND" *ngIf="aogList.length === 0 && !error && !loading"></lsl-ess>
<lsl-ess icon="error" message="ERRORS.DEFAULT" *ngIf="error"></lsl-ess>
<div class="loader-container" fxLayoutAlign="center center" *ngIf="loading">
    <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
</div>