.row-width-atec-filter {
  width: 1700px;
}
.label-atec-filter {
  width: 183px;
  height: 23px;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 20px;
}

.select-atec-filter {
  height: 18px;
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.54);
}


.label-row-atec-filter {
  width: 10px;
  height: 37px;
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}

.label-placeholder-atec-filter{
  height: 37px;
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}
.column-atec-filter {

  padding: 7px 20px;
  height: 40px;
}

.column-head-atec-filter {

  padding: 0px;
  height: 40px;
}

.column-input-atec-filter {

  padding-top: 1px;

}

.row-atec-filter {
  height: 37px;
  border: solid 1px rgba(151, 151, 151, 0);
}

.background-color-row-atec-filter {

  background-color: #f9f9f9;
}
/deep/
.mat-form-field-infix{
  border-top: 0px;
  padding: 0px;
}

.line-footer-atec-filter {
  width: 1867px;
  height: 2px;
  margin-top: 300px;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.buttons-atec-filter {
  padding :20px;
}
