<form [formGroup]="atecForm" #formDir="ngForm" id="form-atec-filter" (ngSubmit)="submitForm()">
    <div id="form-header">
        <header>
            <span fxFlex="20">Station</span>
            <span fxFlex="20">Operator</span>
        </header>
        <div class="line-footer-atec-filter"></div>
        <main>
            <div fxLayout="row" *ngFor="let station of stations">
                <span fxFlex="20">{{station.code}}</span>
                <mat-form-field fxFlex="20" *ngIf="station.code === selectedStation">
                    <mat-select class="select-atec-filter"  placeholder="" [formControl]="atecForm.controls['authorities']" [(ngModel)]="selectedAuthorities" multiple>
                        <mat-option *ngFor="let authority of authorities[station.code]" value="{{authority}}">{{authority}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span fxFlex="20" *ngIf="station.code !== selectedStation">
                    {{authorities[station.code].join(', ')}}
                </span>
                <button mat-icon-button type="button" (click)="setSelectedStation(station.code)"><mat-icon>create</mat-icon></button>
            </div>
        </main>
        <!--<div fxLayout="row">
            <span class="label-atec-filter">Station</span>
        </div>
        <div fxLayout="row" class="row-width-atec-filter">
            <mat-form-field>
                <mat-select class="select-atec-filter" [formControl]="atecForm.controls['stations']" [(ngModel)]="selectedStation" placeholder="Select Station">
                    <mat-option *ngFor="let station of stations" value="{{station}}">{{station.code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" class="row-width-atec-filter">
            <span class="label-atec-filter">Operator</span>
        </div>
        <div fxLayout="row" class="row-width-atec-filter">
            <mat-form-field>
                <mat-select class="select-atec-filter" placeholder="Select Operator" [formControl]="atecForm.controls['authorities']" [(ngModel)]="selectedAuthorities" multiple>
                    <mat-option *ngFor="let authority of authorities" value="{{authority.code}}">{{authority.code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>-->
    </div>
    <mat-tab-group id="form-tabs" *ngIf="arrMenu.length > 0">
        <mat-tab *ngFor="let menu of arrMenu" label={{menu.label}}>
            <div fxLayout="row" class="row-atec-filter">
                <div fxLayout="column" fxFlex="20" class="column-head-atec-filter">
                    <span class="label-atec-filter">Deferral Category</span>
                </div>
                <div fxLayout="column" fxFlex="20" class="column-head-atec-filter">
                    <span class="label-atec-filter">Due Date</span>
                </div>
            </div>
            <div fxLayout="row" class="row-atec-filter background-color-row-atec-filter">
                <div fxLayout="column" fxFlex="20" class="column-atec-filter">
                    <span class="label-row-atec-filter">A</span>
                </div>
                <div fxLayout="column" class="column-atec-filter column-input-atec-filter column-due-date" fxFlex="20">
                    <mat-form-field>
                        <input id="in-due-date-form-filter-atect"
                               class="label-placeholder-atec-filter mat-form-field-infix"
                               placeholder="Days"
                               matInput
                               maxlength="3"
                               value="0"
                               type="number"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-checkbox labelPosition="after" fxFlex="20" class="column-atec-filter"
                    ><span class="label-row-atec-filter">All</span>
                    </mat-checkbox>
                </div>
            </div>


           <!-- <div fxLayout="row" class="row-atec-filter">
                <div fxLayout="column" fxFlex="13" class="column-atec-filter">
                    <span class="label-row-atec-filter">B</span>
                </div>
                <div fxLayout="column" class="column-atec-filter column-input-atec-filter" fxFlex="15">
                    <mat-form-field>

                        <input class="label-placeholder-atec-filter mat-form-field-infix"
                               placeholder="Days" matInput maxlength="3"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-checkbox labelPosition="after" fxFlex="20" class="column-atec-filter"
                    ><span class="label-row-atec-filter">All</span>
                    </mat-checkbox>
                </div>
            </div>-->

           <!-- <div fxLayout="row" class="row-atec-filter background-color-row-atec-filter">
                <div fxLayout="column" fxFlex="13" class="column-atec-filter">
                    <span class="label-row-atec-filter">C</span>
                </div>
                <div fxLayout="column" class="column-atec-filter column-input-atec-filter" fxFlex="15">
                    <mat-form-field>

                        <input class="label-placeholder-atec-filter mat-form-field-infix"
                               placeholder="Days" matInput maxlength="3"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-checkbox id="in-contingency-form-backup" labelPosition="after" fxFlex="20"
                                  class="column-atec-filter"
                    ><span class="label-row-atec-filter">All</span>
                    </mat-checkbox>
                </div>
            </div>

            <div fxLayout="row" class="row-atec-filter">
                <div fxLayout="column" fxFlex="13" class="column-atec-filter">
                    <span class="label-row-atec-filter">D</span>
                </div>
                <div fxLayout="column" class="column-atec-filter column-input-atec-filter" fxFlex="15">
                    <mat-form-field>

                        <input class="label-placeholder-atec-filter mat-form-field-infix"
                               placeholder="Days" matInput maxlength="3"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-checkbox labelPosition="after" fxFlex="20" class="column-atec-filter"
                    ><span class="label-row-atec-filter">All</span>
                    </mat-checkbox>
                </div>
            </div>


            <div fxLayout="row" class="row-atec-filter background-color-row-atec-filter">
                <div fxLayout="column" fxFlex="13" class="column-atec-filter">
                    <span class="label-row-atec-filter">TLI</span>
                </div>
                <div fxLayout="column" class="column-atec-filter column-input-atec-filter" fxFlex="15">
                    <mat-form-field>
                        <input class="label-placeholder-atec-filter mat-form-field-infix"
                               placeholder="Days" matInput maxlength="3"
                        />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-checkbox labelPosition="after" fxFlex="20" class="column-atec-filter">
                        <span class="label-row-atec-filter">All</span>
                    </mat-checkbox>
                </div>
            </div>-->
        </mat-tab>
    </mat-tab-group>
    <div class="line-footer-atec-filter"></div>

    <div mat-dialog-actions class="row-width-atec-filter" fxLayoutAlign="end">
        <div class="buttons-atec-filter">
            <button id="btn-atec-filter-form-cancel" (click)="cancel()" type="button" mat-button>
                {{'BUTTONS.CANCEL'|translate}}
            </button>
            <button id="btn-atec-filter-form-submit" type="submit" mat-button mat-raised-button color="primary">
                {{'BUTTONS.APPLY'|translate}}
            </button>
        </div>
    </div>
</form>