.row-width-atec-filter {

}

.label-atec-filter {
  width: 183px;
  height: 23px;
  font-family: "Noto Sans";
  font-size: 16px;
  letter-spacing: 0.6px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 0;
}

.select-atec-filter {
  height: 18px;
  font-family: "Noto Sans";
  font-size: 13px;
  text-align: left;
}

.label-row-atec-filter {
  width: 10px;
  height: 37px;
  font-family: "Noto Sans";
  font-size: 15px;
  text-align: left;
}

.label-placeholder-atec-filter{
  height: 55px;
  font-family: "Noto Sans";
  font-size: 15px;
}
.column-atec-filter {
  padding: 0px 20px;
  height: 40px;
}

.column-head-atec-filter {
  padding: 0px;
  height: 40px;
}

.column-input-atec-filter {
  padding-top: 1px;
}

.row-atec-filter {
  height: 60px;
  border: solid 1px rgba(151, 151, 151, 0);
  padding: 20px 0;
}

.row-atec-filter:first-child {
  height: 40px;
  padding: 0;
}

.background-color-row-atec-filter {
  background-color: #f9f9f9;
}

/deep/
#form-atec-filter {
  padding: 0 20px;
  #form-header {
    .mat-form-field-infix{
      border-top: 0px;
      padding: 5px 0;
      width: 100%;
    }
  }

  #form-tabs {
    .column-due-date {
      margin: -20px 0 0 0;
    }
    .mat-input-wrapper.mat-form-field-wrapper {
      padding: 0;
    }
    .mat-form-field-infix{
      border-top: 0px;
      //height: 30px;
      //margin: -13px 0 0 0;
    }
    .mat-tab-body,
    .mat-tab-body-content {
      overflow: visible;
    }
    .mat-input-placeholder-wrapper.mat-form-field-placeholder-wrapper {
      top: 5px;
    }
    .mat-checkbox {
      margin: -3px 0 0 0;
    }
    .label-atec-filter {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.line-footer-atec-filter {
  height: 2px;
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.buttons-atec-filter {
  padding :20px;
}

