@import '../assets/style/base.scss';

.dummy {
  color: red;
}
/deep/
.mat-button-focus-overlay {
  background-color:transparent !important;
}

/deep/
.reg-list{
  @include generate-font-size(-6);
  color: mat-color($foreground, text);
  margin: auto 16px;
  header{
    height: 40px;
    padding: 0 16px;
  }
  .contingency-item {
    border: solid 1px rgba(202, 202, 202, .43);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .14);
    margin-bottom: 10px;
    background: rgba(236, 239, 241, .35);
    padding: 0 16px;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    min-width: 20px;
    cursor: pointer;
    height: 40px;

    .mat-icon{
      margin-right: 3px;
    }

    strong {
      font-weight: bold;
    }

    .flag-icon {
      width: 20px;
      height: 20px;
      display: inline-flex;
      vertical-align: middle;
      background-image: url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/cl.svg');
      background-size: 20px;
      border-radius: 50%;
    }

    .description {
      text-transform: uppercase;
      overflow: hidden;
    }

    .badge {
      background-color: mat-color($foreground, secondary-text);
      margin: 0;
      font-size: 10px;
      color: white;
      padding: 2px 15px;
      border-radius: 2px;
      font-weight: 500;
    }

    .badge-safety-event {
      background-color: #546e7a;
    }

    .ni {
      background-color: mat-color($custom, ni);
    }

    .etr {
      background-color: mat-color($custom, etr);
    }

    .aog{
      background-color: mat-color($warn);
    }

    .rlsd{
      background-color: mat-color($custom, success);
    }

    .historical-bar{
      span{
        float: right;
        margin: 3px 0 0 0;
      }
    }
  }
  .contingency-item.active{
    background-color: mat-color($mat-palette-custom, selected-card);
  }
}
/deep/
.mat-sidenav-content {
  background-color: mat-color($primary, default-contrast);
}

/deep/
.invalid {
  color: mat-color($warn);
}