<mat-list class="content-mat-list">
    <mat-list-item class="moc-items-list no-bg moc-items-list-title">
        <div class="block-s">Tail/Fleet</div>
        <div class="block-s">Operator</div>
        <div class="block-s">Flight</div>
        <div class="block-s">From/To</div>
        <div class="block-xl">Description</div>
        <div class="block-s">Status</div>
        <div class="block-s">Type</div>
        <div class="block-m">Safety Event</div>
        <div class="block-m">Progress</div>
        <div class="block-m">Time Left</div>
        <div class="block-s">Focal</div>
        <div class="block-xs">&nbsp;</div>
    </mat-list-item>
</mat-list>
<mat-list *ngIf="contingenceList?.length > 0" class="content-mat-list">
    <mat-list-item *ngFor="let contingence of contingenceList" class="moc-items-list">
        <div class="block-s">
            <span class="two-lines">{{ contingence.tail }}</span>
            <span class="two-lines">{{ contingence.fleet }}</span>
        </div>
        <div class="block-s">
            <span class="flag-icon">&nbsp;</span>
            {{ contingence.operator }}
        </div>
        <div class="block-s">{{ contingence.flight }}</div>
        <div class="block-s">{{ contingence.from }} {{ contingence.to }}</div>
        <div class="block-xl description">{{ (contingence.description.length > 65) ? (contingence.description | slice:0:65) + '...' : contingence.description }}</div>
        <div class="block-s"><span class="badge badge-ni-1">{{ contingence.status }}</span></div>
        <div class="block-s">{{ contingence.type }}</div>
        <div class="block-m"><span class="badge">{{ contingence.safetyEvent }}</span></div>
        <div class="block-m"><mat-progress-bar mode="determinate" value="{{ getTimeAverage(contingence.creationDateLong, contingence.duration) }}"></mat-progress-bar></div>
        <div class="block-m"><mat-icon class="mat-icon-adj">timer</mat-icon> <lsl-countdown [creationTime]="contingence.creationDateLong" [duration]="contingence.duration"></lsl-countdown></div>
        <div class="block-s"><mat-icon class="mat-icon-adj">account_circle</mat-icon> {{ contingence.responsible }}</div>
        <div class="block-xs">
            <button mat-icon-button>
                <mat-icon aria-label="options">more_vert</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-list>