@import '../../../assets/style/baseTheme/colorStyle';

#login {
  width: 320px;
  height: 342px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
  mat-card-title {
    width: 500px;
    height: 33px;
    font-size: 24px;
    text-align: left;
    color: #546e7a;
  }
  .button-submit {
    width: 103px;
    height: 40px;
    border-radius: 2px;
    background-color: #0a85c0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 2px 0 rgba(0, 0, 0, .12);
    color: $white;
    margin-top: 20px;
  }
  mat-card-content {
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;

  }
  mat-card-actions {
    text-align: center;
    margin-top: 3px;
    margin-left: 9px;
    margin-right: 9px;
  }
  a {
    width: 77px;
    height: 19px;
    font-size: 14px;
    text-align: left;
    color: #0a85c0;
  }

  .mat-form-field{
    width: 100%;
    font-size: 14px;
  }
  .mat-form-field:first-child{
    padding-bottom: 20px;
  }
}
