@import 'main.scss';
@import '../user-management.component.scss';

$form-padding: 10px;

.button-upload-bg {
  width: 76px;
  height: 29px;
  border-radius: 2px;
  background-color: #0a85c0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.button-upload {
  width: 65px;
  height: 17px;
  font-family: Roboto, "Noto Sans", Tahoma;;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  background-color: #0a85c0;
  border:none;
  padding-top: 6px;
  padding-left: 13px;
}

.md-cloud-upload{
  font-size: 136px;
  color: rgba(0, 0, 0, 0.26);
  width: 136px;

  }

.upload_text{
  font-size:14px;
  margin-left:5px;
  margin-right:5px;
}

#in-bulk-load-file {
  display: none;
}

#summary {
  background-color: mat-color($mat-palette-custom, background-grey);
  padding: 10px;
  margin: 15px 0 0 0;
  border: thin solid mat-color($mat-palette-custom, selected-card);
  font-size: 13px;

  h2 {
    font-weight: bold;
    padding: 0 0 10px 0;
  }


}

#summary > p:last-child {
  padding-top: 10px;
}

form {
  padding: $form-padding;

  > div {
    height: calc(100vh - (#{$navbar-height} + #{$tabs-height} + #{$form-padding * 2})) !important;
    border: thin dashed mat-color($foreground, secondary-text);
  }
}

// (#{$navbar-height} + #{$details-header-height}));