@import '../../../assets/style/base.scss';

#post-header-container {
  color: mat-color($foreground, secondary-text);
  width: 100%;

  #item-counter-container {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    @include generate-font-size(-1);
    position: absolute;
    right: 30px;
    top: 13px;
    z-index: 100;
    strong{
      font-weight: bold;
    }
  }
}

/deep/
#post-header-tab {

  .mat-tab-header {
    border-bottom: none;
    padding: 20px 25px
  }

  .mat-tab-item {
    margin-right: 10px;
    display: inline-flex;
  }

  .mat-tab-label {
    height: 36px;
    @include generate-font-size(-3);
    font-family: Roboto, "Noto Sans", Tahoma;
    color: mat-color($primary);
  }

  .mat-tab-label-active {
    background-color: mat-color($primary);
    opacity: 1;
    color: mat-color($primary, 'default-contrast');
    font-weight: bold;
  }

  .mat-ink-bar {
    display: none;
  }
}

