@import '../../../assets/style/base.scss';

/deep/
#operations-container {
  color: mat-color($foreground, secondary-text);
  width: 100%;

  #historical-search {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    @include generate-font-size(-5);
    position: absolute;
    right: 30px;
    top: 8px;
    z-index: 100;
    background-color: mat-color($custom, 'background-grey');
    strong {
      font-weight: bold;
    }
  }

  nav {
    background-color: mat-color($custom, 'background-grey');
    border-bottom: none;
    padding: 13px 16px;
    box-sizing: border-box;
    height: 57px;

    a {
      @include generate-font-size(-3);
      font-family: Roboto, "Noto Sans", Tahoma;
      color: mat-color($primary);
      padding: 10px 20px;
      display: inline-block;
      text-transform: uppercase;
    }
    a.active {
      background-color: mat-color($primary);
      opacity: 1;
      color: mat-color($primary, 'default-contrast');
      font-weight: bold;
    }
  }

}

/deep/
#nav-details-container {
  background-color: #fff;
}

/deep/
.loader-container{
  height: 75vh;
}

/deep/
.counter-container{
  height: 40px;
  padding: 0 16px;
  color: mat-color($foreground, text);
  margin: auto 0px;
}

/deep/
.safety-event {
  .mat-icon {
    color: mat-color($warn);
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}