@import 'main.scss';
$tabs-height: 54px;
/deep/
#operations-container {
  color: mat-color($foreground, secondary-text);
  width: 100%;

  > div {

    border-bottom: thin solid mat-color($foreground, divider);
    min-height: 60px;
  }

  #historical-search {

    font-family: 'Noto Sans', 'Arial', sans-serif;
    display: inline-block;
    @include generate-font-size(-5);
    width: 100%;
    margin: 10px 0 0 0;
    strong {
      font-weight: bold;
    }

  }

  nav {

    box-sizing: border-box;
    padding: 37px 20px 0;
    height: $tabs-height;
    width: 100%;
    display: inline-block;

    a {
      @include generate-font-size();
      font-family: Roboto, "Noto Sans", Tahoma;
      padding: 0 20px 5px;
      display: inline-block;
      text-transform: capitalize;
      font-weight: bold;
      color: mat-color($foreground, text);

    }
    a.active {

      color: mat-color($primary);
      opacity: 1;
      border-bottom: 3px solid mat-color($primary);
    }
  }

}

/deep/
#nav-details-container {
  background-color: #fff;
}

/deep/
.loader-container {
  height: 75vh;
}

/deep/
.counter-container {
  height: 40px;
  padding: 0 16px;
  color: mat-color($foreground, text);
  margin: auto 0px;
}

/deep/
.safety-event {
  .mat-icon {
    color: mat-color($warn);
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}