@import 'main.scss';

#nav-drawer-container {
  height: calc(100vh);
}

/deep/
#main-panel {
  position: relative;
  width: calc(100% - #{$nav-details-width});
}

/deep/
#main-panel.expanded {
  width: 100%;
}

#nav-details-container {
  height: calc(100vh - #{$navbar-height});
}

#main-container {
  margin: $navbar-height 0 0 0;
  position: relative;
}

/deep/
.mat-tab-body-wrapper {
  background-color: mat-color($primary, 'default-contrast');
}

#btn-layout-add-form {
  width: 56px;
  height: 56px;
  background-color: mat-color($secondary, 500);
  border: 0.5px solid transparent;
  border-image-slice: 1;
  color: mat-color($primary, 'default-contrast');
  font-size: 25px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
  z-index: 40;
}