<mat-progress-bar id="progress-bar" [mode]="mode" [value]="value" *ngIf="loading"></mat-progress-bar>
<mat-sidenav-container id="nav-drawer-container">
  <mat-sidenav #sidenav>
    <lsl-sidenav>
    </lsl-sidenav>
  </mat-sidenav>

  <lsl-toolbar></lsl-toolbar>

  <section id="main-container">
    <div class="main-panel">
      <mat-sidenav-container id="nav-details-container">
        <router-outlet></router-outlet>
        <mat-sidenav align="end" id="details" #details mode="side">
          <lsl-details></lsl-details>
        </mat-sidenav>
      </mat-sidenav-container>
    </div>
    <lsl-rightnav></lsl-rightnav>
  </section>
  <button (click)="openCreationContingency()" mat-icon-button id="btn-layout-add-contingency">+</button>
</mat-sidenav-container>
