<mat-progress-bar #progressBar id="progress-bar" *ngIf="loading"></mat-progress-bar>
<mat-sidenav-container id="nav-drawer-container">
    <mat-sidenav #sidenav>
        <lsl-sidenav>
        </lsl-sidenav>
    </mat-sidenav>
    <lsl-toolbar></lsl-toolbar>
    <section id="main-container" [ngClass]="{'expanded': !!detailsSidenav && isDetailsOpen }">
        <div id="main-panel" [ngClass]="{'expanded': !showRightNav }">
            <mat-sidenav-container id="nav-details-container">
                <router-outlet></router-outlet>
                <mat-sidenav align="end" id="details" #details mode="side">
                    <lsl-details></lsl-details>
                </mat-sidenav>
            </mat-sidenav-container>
        </div>
        <lsl-rightnav *ngIf="showRightNav"></lsl-rightnav>
    </section>
    <button *ngIf="showAddButton" (click)="openCreationForm()" mat-icon-button id="btn-layout-add-form"
            [disabled]="disableAddButton">+
    </button>
</mat-sidenav-container>
