<mat-list class="content-mat-list">
    <mat-list-item class="moc-items-list no-bg moc-items-list-title">
        <div class="block-s">{{ 'OPERATIONS.TAIL_FLEET' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.OPERATOR' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.FLIGHT' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.FROM_TO' | translate }}</div>
        <div class="block-xl">{{ 'OPERATIONS.DESCRIPTION' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.STATUS' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.TYPE' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.SAFETY_EVENT' | translate }}</div>
        <div class="block-m">{{ 'OPERATIONS.PROGRESS' | translate }}</div>
        <div class="block-m">{{ 'OPERATIONS.TIME_LEFT' | translate }}</div>
        <div class="block-s">{{ 'OPERATIONS.FOCAL' | translate }}</div>
        <div class="block-xs block-last">&nbsp;</div>
    </mat-list-item>
</mat-list>
<mat-list *ngIf="contingencyList?.length > 0" class="content-mat-list">
    <mat-list-item  *ngFor="let contingency of contingencyList" class="moc-items-list">
        <div class="block-s" (click)="detailsService.openDetails()">
            <span class="two-lines">{{ contingency.aircraft.tail }}</span>
            <span class="two-lines">{{ contingency.aircraft.fleet }}</span>
        </div>
        <div class="block-s" (click)="detailsService.openDetails()">
            <span class="flag-icon">&nbsp;</span>
            {{ contingency.aircraft.operator }}
        </div>
        <div class="block-s" (click)="detailsService.openDetails()">{{ contingency.flight.flightNumber }}</div>
        <div class="block-s" (click)="detailsService.openDetails()">{{ contingency.flight.origin }} / {{ contingency.flight.destination }}</div>
        <div class="block-xl description" (click)="detailsService.openDetails()">{{ (contingency.reason.length > 65) ? (contingency.reason | slice:0:65) + '...' : contingency.reason }}</div>
        <div class="block-s" (click)="detailsService.openDetails('comments')"><span class="badge {{ contingency.status.code | lowercase }}">{{ contingency.status.code | uppercase }}</span></div>
        <div class="block-s" (click)="detailsService.openDetails('comments')"><div><strong>CONT</strong></div><div>{{ contingency.type }}</div></div>
        <div class="block-s" (click)="detailsService.openDetails('safety-events')"><span class="badge">{{ contingency.safetyEvent.code }}</span></div>
        <div class="block-m" (click)="detailsService.openDetails('timeline')"><mat-progress-bar mode="determinate" [value]="getTimeAverage(contingency.status.requestedInterval.dt.epochTime, contingency.status.requestedInterval.duration, false, 0)" [color]="getTimeAverage(contingency.status.requestedInterval.dt.epochTime, contingency.status.requestedInterval.duration, true, 600000) ? 'warn' : 'primary'" class="mat-progress-bar"  ></mat-progress-bar></div>
        <div class="block-m" (click)="detailsService.openDetails('timeline')"><mat-icon class="mat-icon-adj" [color]="getTimeAverage(contingency.status.requestedInterval.dt.epochTime, contingency.status.requestedInterval.duration, true, 300000) ? 'warn' : 'primary'">timer</mat-icon> <lsl-countdown [creationTime]="contingency.status.requestedInterval.dt.epochTime" [duration]="contingency.status.requestedInterval.duration" [threshold]="5"></lsl-countdown></div>
        <div class="block-s" (click)="detailsService.openDetails()"><mat-icon class="mat-icon-adj">account_circle</mat-icon> {{ contingency.status.username }}</div>
        <div class="block-xs block-last">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon aria-label="options">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="closeContingency()">
                    <span>Close Contingency</span>
                </button>
                <button mat-menu-item>
                    <span>Meeting</span>
                </button>
                <button mat-menu-item>
                    <span>Follow up</span>
                </button>
            </mat-menu>
        </div>
    </mat-list-item>
</mat-list>

