// Base Colors
$blue    : #0A85C0;
$yellow  : #F3BE17;
$white   : #FFFFFF;
$red     : #FF1620;
$green   : #00B000;

$grey-50 : #323232;
$grey-77 : #4D4D4E;
$grey-125: #7D7D7D;
$grey-181: #B5B5B5;
$grey-243: #F4F3F3;
$grey-200: #C8C8C8;

$black-12p: rgba(0, 0, 0, 0.12);
$black-20p: rgba(0, 0, 0, 0.20);
$black-54p:rgba(0,0,0,0.54);
$black-87p: rgba(0, 0, 0, 0.87);