<nav id="details-nav">
  <button mat-icon-button (click)="openDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">info</mat-icon>
  </button>
  <button mat-icon-button (click)="openDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">feedback</mat-icon>
  </button>
  <button mat-icon-button (click)="openDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">timeline</mat-icon>
  </button>
  <button mat-icon-button (click)="openDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">update</mat-icon>
  </button>
  <hr>
  <button mat-icon-button (click)="closeDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">navigate_next</mat-icon>
  </button>
</nav>