<nav id="details-nav">
    <button id="btn-rightnav-information" mat-icon-button [class.active]="activeSection === 'information'"
            (click)="openDetails('information')" [disabled]="true">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">info</mat-icon>
    </button>
    <button id="btn-rightnav-comments" mat-icon-button [class.active]="activeSection === 'comments'"
            (click)="openDetails('comments')" [disabled]="true">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">feedback</mat-icon>
    </button>
    <button id="btn-rightnav-timeline" mat-icon-button [class.active]="activeSection === 'timeline'"
            (click)="openDetails('timeline')" [disabled]="true">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">timeline</mat-icon>
    </button>
    <button id="btn-rightnav-follow-up" mat-icon-button [class.active]="activeSection === 'follow-up-aog'"
            (click)="openDetails('follow-up-aog','Aog')" [disabled]="isDisabled()">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">update</mat-icon>
    </button>
    <hr>
    <button id="btn-rightnav-close-details" mat-icon-button (click)="closeDetails()" [disabled]="isDisabled()">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">navigate_next</mat-icon>
    </button>
</nav>