<nav id="details-nav">
  <button mat-icon-button [class.active]="detailsService.getActive() === 'information'"  (click)="openDetails()">
    <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">info</mat-icon>
  </button>
  <button mat-icon-button [class.active]="detailsService.getActive() === 'comments'" (click)="openDetails('comments')">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">feedback</mat-icon>
  </button>
  <button mat-icon-button [class.active]="detailsService.getActive() === 'timeline'" (click)="openDetails('timeline')">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">timeline</mat-icon>
  </button>
  <button mat-icon-button [class.active]="detailsService.getActive() === 'follow-up'" (click)="openDetails('follow-up')">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">update</mat-icon>
  </button>
  <hr>
  <button mat-icon-button (click)="closeDetails()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">navigate_next</mat-icon>
  </button>
</nav>