<div class="reg-list" *ngIf="(list | async).length && !loading">
<!--<div class="reg-list">-->
    <header fxLayout="row" class="">
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.TAIL_FLEET' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.BARCODE' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.OPENING_DATE' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DUE_DATE' | translate }}</div>
        <div fxFlex="5" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.ATA' | translate }}</div>
        <div fxFlex="28" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DESCRIPTION' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DEFERRAL_REFERENCE' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DEFERRAL_CLASS' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.ALERT' | translate }}</div>
        <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.TIMELINE_STATUS' | translate }}</div>
        <div fxFlex="11">&nbsp;</div>
    </header>
    <content>
        <div fxLayout="row"
             *ngFor="let deferral of list | async"
             [class.active]="deferral.id === selectedRegister.id"
             class="contingency-item">

            <!--TAIL/FLEET-->
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                <span>{{ deferral.tail }}</span>
                <span>{{ deferral.fleet }}</span>
            </div>

            <!-- BARCODE -->
            <div fxFlex="7" fxLayout="row" fxLayoutAlign="start center">
                {{ deferral.barcode | uppercase }}
            </div>

            <!-- OPENING DATE -->
            <div fxFlex="7" fxLayoutAlign="start center">
                {{ deferral.creationDate.epochTime | utcDate | date: 'dd-mm-YYYY' }}
            </div>

            <!-- DUE DATE -->
            <div fxFlex="7" fxLayoutAlign="start center">
                {{ deferral.dueDate.epochTime | utcDate | date: 'dd-mm-YYYY' }}
            </div>

            <!-- ATA -->
            <div fxFlex="5" fxLayoutAlign="start center">
                {{ deferral.ata }}
            </div>

            <!-- DESCRIPTION -->
            <div fxFlex="28" fxLayoutAlign="start center" class="description">
                {{(deferral.description.length > 65) ? (deferral.description | slice:0:65) + '...' : deferral.description }}
            </div>

            <!-- DEFERRAL REFERENCE -->
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                {{deferral.deferralReference}}
            </div>

            <!-- DEFERRAL CLASS -->
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                {{deferral.deferralClazz}}
            </div>

            <!-- ALERT -->
            <div fxFlex="7" fxLayoutAlign="start center">
                <span class="badge" *ngIf="deferral.alert.description">
                    {{deferral.alert.description}}
                </span>
            </div>

            <!-- TIMELINE STATUS -->
            <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                <div>{{ deferral.status}}</div>
            </div>

            <div fxFlex="11" fxLayoutAlign="end end" >
                <button mat-icon-button>
                    <mat-icon aria-label="options">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!--<button mat-menu-item (click)="openCloseContingency(deferral)" [disabled]="deferral.isClose">-->
                        <!--<span>{{ 'BUTTONS.SUB_MENUS.CLOSE_CONTINGENCY' | translate }}</span>-->
                    <!--</button>-->
                </mat-menu>
            </div>
        </div>
    </content>
</div>
<mat-paginator #contPaginator [hidden]="!((list | async).length && !loading)"
       [length]="infiniteScrollService.length"
       [pageSize]="infiniteScrollService.pageSize"
       [pageSizeOptions]="infiniteScrollService.pageSizeOptions">
</mat-paginator>
<lsl-ess icon="flight_takeoff" message="ESS.NO_CONTINGENCIES_FOUND" *ngIf="(list | async).length === 0 && !loading"></lsl-ess>
<div class="loader-container" fxLayoutAlign="center center" *ngIf="loading"><mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner></div>