<div id="deferral-list">
    <div class="reg-list" *ngIf="list.length && !loading && !error && haveStationsConf && haveAuthoritiesConf">
        <header fxLayout="row">
            <span fxLayoutGap="10px" fxFlex="95">
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.TAIL_FLEET' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.BARCODE' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.OPENING_DATE' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DUE_DATE' | translate }}</div>
                <div fxFlex="5" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.ATA' | translate }}</div>
                <div fxFlex="28" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DESCRIPTION' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DEFERRAL_REFERENCE' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.DEFERRAL_CLASS' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.ALERT' | translate }}</div>
                <div fxFlex="7" fxLayoutAlign="start center">{{ 'FLEET_HEALTH.LIST.TIMELINE_STATUS' | translate }}</div>
            </span>
            <div fxFlex="11">&nbsp;</div>
        </header>
        <content>
            <div fxLayout="row"
                 *ngFor="let task of list"
                 [class.active]="task.barcode === selectedRegister.barcode"
                 class="contingency-item"
            >
                <span fxFlex="95" [ngClass]="{'open-cursor': task.timelineStatus==='OPEN', 'close-cursor': task.timelineStatus==='CLOSE'}" (click)="setSelectedRegister(task)" fxLayoutGap="10px">
                    <!--TAIL/FLEET-->
                    <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                        <span>{{ task.tail }}</span>
                        <span>{{ task.fleet }}</span>
                    </div>

                    <!-- BARCODE -->
                    <div fxFlex="7" fxLayout="row" fxLayoutAlign="start center">
                        {{ task.barcode | uppercase }}
                    </div>

                    <!-- OPENING DATE -->
                    <div fxFlex="7" fxLayoutAlign="start center">
                        {{ task.createDate.epochTime | utcDate | date: 'dd-MM-yyyy' }}
                    </div>

                    <!-- DUE DATE -->
                    <div fxFlex="7" fxLayoutAlign="start center">
                        {{ task.dueDate.epochTime | utcDate | date: 'dd-MM-yyyy' }}
                    </div>

                    <!-- ATA -->
                    <div fxFlex="5" fxLayoutAlign="start center">
                        {{ task.ata }}
                    </div>

                    <!-- DESCRIPTION -->
                    <div fxFlex="28" fxLayoutAlign="start center" class="description">
                        {{(task.description && task.description.length > 65) ? (task.description | slice:0:65) + '...' : task.description }}
                    </div>

                    <!-- DEFERRAL REFERENCE -->
                    <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                        {{(task.deferralReference && task.deferralReference.length > 30) ? (task.deferralReference | slice:0:30) + '...' : task.deferralReference }}
                    </div>

                    <!-- DEFERRAL CLASS -->
                    <div fxFlex="7" fxLayout="column" fxLayoutAlign="center">
                        {{task.deferralClazz}}
                    </div>

                    <!-- ALERT -->
                    <div fxFlex="7" fxLayoutAlign="start center">
                        <span class="badge">
                            {{task.evaluationCategory.displayAlert}}
                        </span>
                    </div>

                    <!-- TIMELINE STATUS -->
                    <div fxFlex="7" fxLayoutAlign="start center">
                        <span class="badge" *ngIf="task.timelineStatus" [ngClass]="{'open': task.timelineStatus==='OPEN', 'close': task.timelineStatus==='CLOSE'}">
                            {{ task.timelineStatus }}
                        </span>
                    </div>
                </span>

                <div fxFlex="11" fxLayoutAlign="end end" >
                    <button id="btn-fleet-health-list-{{ task.barcode }}" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon aria-label="options">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="markAsDone(task.barcode)" id="doneBtn_{{task.barcode}}">
                            <span>{{ 'BUTTONS.SUB_MENUS.DONE' | translate }}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </content>
    </div>
    <mat-paginator #contPaginator [hidden]="!(list.length && !loading && !error)"
           [length]="infiniteScrollService.length"
           [pageSize]="infiniteScrollService.pageSize"
           [pageSizeOptions]="infiniteScrollService.pageSizeOptions">
    </mat-paginator>
    <lsl-ess icon="location_off" message="ESS.STATIONS_WITHOUT_CONF" *ngIf="!haveStationsConf && !loading && !error"></lsl-ess>
    <lsl-ess icon="filter_list" message="ESS.AUTHORITIES_WITHOUT_CONF" *ngIf="!haveAuthoritiesConf && haveStationsConf && !loading && !error"></lsl-ess>
    <lsl-ess icon="flight_takeoff" message="ESS.NO_DEFERRALS_FOUND" *ngIf="haveStationsConf && list.length === 0 && !loading && !error"></lsl-ess>
    <lsl-ess icon="error" message="ERRORS.DEFAULT" *ngIf="error"></lsl-ess>
    <div class="loader-container" fxLayoutAlign="center center" *ngIf="loading"><mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner></div>
</div>