@import 'main.scss';

/deep/
#deferral-list {
  .badge {
    padding: 3px 8px;
  }
  .open {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
  .close {
    background-color: mat-color($mat-palette-custom, success);
    color: mat-color($primary, default-contrast);
  }

  .open-cursor {
    cursor: pointer;
  }

  .close-cursor {
    cursor: default;
  }

  .chronic-icon{
    color: mat-color($foreground,icon);
  }

  .analyzed-by-system {
    display: inline-block !important;
    text-align: center;
    margin-top: 10px;

    .skywise-icon{
      width: auto;
      height: auto;
    }
  }
}