<form [formGroup]="meetingForm" #meetForm="ngForm" (ngSubmit)="submitForm()">
    <div mat-dialog-title fxLayoutGap="30px" class="title-dialog-container" fxLayout="column">
        <div fxLayout="row" fxFlex>
            <span class="title-dialog" fxFlex>{{'OPERATIONS.MEETING_FORM.MEETING_SUMMARY' | translate}}</span>
            <span class="date-title-dialog">{{ utcModel.label | utcDate | date: 'dd MMM yyyy'}} | {{ timeClock | utcDate | date: 'HH:mm:ss' }} UTC</span>
            <button (click)="closeDialog()" id="btn-contingency-form-close-btn" type="button" class="close-btn" mat-icon-button
                    fxFlexOffset="1">
                <mat-icon aria-label="Example icon-button" class="material-icons close-dialog">{{ 'OPERATIONS.CONTINGENCY_FORM.CLOSE' | translate }}
                </mat-icon>
            </button>
        </div>
        <span class="msg-required-dialog" fxFlex>{{'OPERATIONS.CONTINGENCY_FORM.REQUIRE_FIELDS'| translate}}</span>
    </div>

    <div mat-dialog-content class="content-dialog-container">
        <div class="title-dialog">
            <span>{{'OPERATIONS.MEETING_FORM.MEETING_CREATION'|translate}}</span>
        </div>
        <div fxLayout="row" class="sections-content">

            <div fxFlex="25" fxLayout="row" class="operation-container">
                <div fxLayout="column" fxFlexFill>
                    <section>
                        <span class="title-section">{{'OPERATIONS.MEETING_FORM.OPERATION_INFO'|translate}}</span>
                        <div class="data">
                            <p fxLayout="row">{{'OPERATIONS.MEETING_FORM.TAIL'|translate}}: <span>{{contingency.aircraft.tail}}</span></p>
                            <p fxLayout="row" *ngIf="contingency.isBackup">{{'OPERATIONS.MEETING_FORM.STATION'|translate}}: <span>{{contingency.backup.location}}</span></p>
                            <p fxLayout="row" *ngIf="!contingency.isBackup">{{'OPERATIONS.FROM_TO'|translate}}: <span>{{contingency.flight.origin}}/{{contingency.flight.destination}}</span></p>
                            <p fxLayout="row">{{'OPERATIONS.MEETING_FORM.CREATION_DATE'|translate}}: <span>{{contingency.creationDate.label | utcDate | date: 'dd MMM yyyy'}}</span></p>
                            <p fxLayout="row">{{'OPERATIONS.MEETING_FORM.TYPE'|translate}}: <span>{{contingency.type}}</span></p>
                            <p fxLayout="row">{{'OPERATIONS.MEETING_FORM.FLEET'|translate}}: <span>{{contingency.aircraft.fleet}}</span></p>
                            <p fxLayout="row">{{'OPERATIONS.MEETING_FORM.REASON'|translate}}: </p>
                            <p fxLayout="row">
                                <span>{{contingency.reason}}</span>
                            </p>
                            <div fxLayout="row" >
                                <mat-form-field fxFlexFill>
                                    <input id="in-meeting-form-barcode" matInput placeholder="barcode"
                                           [formControl]="meetingForm.controls['barcode']" [(ngModel)]="contingency.barcode">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" >
                                <mat-error *ngIf="meetingForm.controls['barcode'].hasError('pattern') && meetForm.submitted">
                                        {{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_BARCODE_PATTERN'|translate}}
                                </mat-error>
                                <mat-error *ngIf="meetingForm.controls['barcode'].hasError('maxlenght') && meetForm.submitted">
                                        {{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_BARCODE_MAX'|translate}}
                                </mat-error>
                            </div>
                        </div>
                    </section>
                    <section *ngIf="contingency.safetyEvent.code">
                        <span class="title-section">{{'OPERATIONS.MEETING_FORM.TO_DO_LIST'|translate}}</span>
                        <div class="data">
                            <p fxLayout="row">{{'OPERATIONS.SAFETY_EVENT'|translate}}: <span>{{contingency.safetyEvent.code}}</span></p>
                            <div class="data-table">
                                <header fxLayout="row">
                                    <div fxFlex="60">{{'OPERATIONS.MEETING_FORM.ACTIVITIES'|translate}}</div>
                                    <div fxFlex="20">{{'OPERATIONS.MEETING_FORM.APPLY'|translate}}</div>
                                    <div fxFlex="20">{{'OPERATIONS.MEETING_FORM.DONE'|translate}}</div>
                                </header>
                                <content>
                                    <div fxLayout="row" *ngFor="let activity of meetingActivitiesConf; let i = index">
                                        <div fxFlex="60">{{activity.description}}</div>
                                        <div fxFlex="20">
                                            <mat-slide-toggle #slide (change)="checkApply(meetingActivities[i])" [ngModelOptions]="{standalone: true}" [(ngModel)]="meetingActivities[i].apply" class=""></mat-slide-toggle>
                                        </div>
                                        <div fxFlex="20">
                                            <mat-checkbox [disabled]="!meetingActivities[i].apply" [ngModelOptions]="{standalone: true}" [(ngModel)]="meetingActivities[i].done" class=""></mat-checkbox>
                                        </div>
                                    </div>
                                </content>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div fxFlex="25" class="operation-container add-assistant lateral-inner-padding">
                <form [formGroup]="assistantForm" #assisForm="ngForm" (submit)="addAssistant()">
                    <div fxLayout="row" class="title-section">{{'OPERATIONS.MEETING_FORM.ADD_ASSISTANT_TITTLE'|translate}}</div>
                    <div fxLayout="row" id="container-add-assistant">
                        <mat-form-field>
                            <mat-icon matSuffix>person_add</mat-icon>
                            <input id="in-meeting-add-assistant" type="text" matInput placeholder="{{'OPERATIONS.MEETING_FORM.ADD_ASSISTANT_MAIL'|translate}}"
                                   [formControl]="assistantForm.controls['assistantMail']"
                                   [matAutocomplete]="auto"
                                   [(ngModel)]="assistant.mail"
                            >
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let assistantConf of filteredOptions | async" [value]="assistantConf">
                                    {{ assistantConf }}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="80">
                            <div fxLayout="row" >
                                <mat-error *ngIf="assistantForm.controls['assistantMail'].hasError('required') && assisForm.submitted">
                                    {{'OPERATIONS.MEETING_FORM.ASSISTANT_REQUIRED'|translate}}
                                </mat-error>
                            </div>
                            <div>
                                <mat-error *ngIf="assistantForm.controls['assistantMail'].hasError('email') && assisForm.submitted && !assistantForm.controls['assistantMail'].hasError('required')">
                                    {{'OPERATIONS.MEETING_FORM.VALID_MAIL'|translate}}
                                </mat-error>
                            </div>
                        </div>
                        <div fxFlex="20" fxLayoutGap="10px" fxLayoutAlign="end center">
                            <button type="submit" mat-button color="primary" >
                                {{'OPERATIONS.MEETING_FORM.ADD_ASSISTANT'|translate}}
                            </button>
                        </div>

                    </div>
                    <div  id="assistant-list">
                        <div fxFlexFill *ngFor="let assistant of meetingAssistants; let i = index">
                            <div fxFlex="10"><mat-icon matSuffix>person</mat-icon></div>
                            <div fxFlex="75">{{assistant.mail}}</div>
                            <div fxFlex="15">
                                <button mat-button (click)="deleteAssistantMeeting(i)">
                                    <mat-icon matSuffix>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div fxFlex="25" fxLayout="row" class="operation-container">
            </div>
            <div fxFlex="25" fxLayout="row" class="operation-container">
            </div>
        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button id="btn-contingency-form-cancel" type="button" mat-button (click)="closeDialog()">
            {{'OPERATIONS.CONTINGENCY_FORM.CANCEL_LABEL'|translate}}
        </button>
        <button id="btn-contingency-form-submit" type="submit" mat-button mat-raised-button color="primary">
            {{'OPERATIONS.CONTINGENCY_FORM.CREATE_LABEL'|translate}}
        </button>
    </div>
</form>