@import '../../../../assets/style/base.scss';

$padd-section: 25px;

@mixin border-padd-bottom() {
  border-bottom: .6px solid #c5c5c5;
  padding-bottom: $padd-section;
}

@mixin border-padd-top() {
  border-top: .6px solid #c5c5c5;
  padding-top: $padd-section;
}

@mixin border-right() {
  border-right: 1px solid #c5c5c5;
}

@mixin padding-left() {
  padding-left: 33px;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-dialog-content {
  max-height: none;
  overflow: hidden;
}

.title-dialog-container {
  margin-bottom: 33px;
  div {
    margin: 0;
  }
  span.title-dialog {
    @include generate-font-size(9);
    text-transform: uppercase;
    color: #37474f;
  }
  .date-title-dialog {
    @include generate-font-size();
    color: #37474f;
  }
  mat-icon.close-dialog {
    font-size: 26px;
    margin: -5px 0 0 -2px
  }
  .msg-required-dialog {
    @include generate-font-size();
    font-style: italic;
    color: #546e7a;
  }
}

/deep/
#in-meeting-add-assistant {
  @include generate-font-size(-1);
}

.mat-input-container {
  width: 100%;
}


.mat-icon {
  color: mat-color($foreground, secondary-text);
}

/deep/
#container-add-assistant {
  > .mat-input-container {
    height: 60px;

    > .mat-input-wrapper {
    }

    .mat-form-field-flex {
      display: inline-block;
      .mat-icon {
        margin: 22px 0 0 0;
        @include generate-font-size(3);
      }
    }
    .mat-form-field-infix {
      float: right;
      width: 90%;
    }
  }
}

.content-dialog-container {

  .actions-container {
    margin: 10px 0;
  }

  .mat-expansion-panel {
    box-shadow: none;
    background-color: mat-color($mat-grey, 50);
  }

  /deep/
  .mat-expansion-panel-body {

    .separator-border {
      border-top: thin solid mat-color($foreground, secondary-text);
      padding: 10px 0 0 0;
    }

    li {
      div {
        white-space: pre-line;
        overflow: hidden;
      }
    }

    hr {
      padding-top: 0;
      margin-top: 0;
    }
  }

  /deep/
  #cont-meeting-pending-description {
    .mat-form-field-infix {
      width: auto;
    }
  }

  .mat-accordion {
    width: 100%;

    .delete {
      padding: 0 0 0 0;
      width: 30px;
      min-width: 0;
      text-align: center;
      margin: 0 -10px 0 0;
    }
  }

  .lateral-inner-padding {
    padding: 0 20px;
  }

  .lateral-inner-padding:last-child {
    padding-right: 0px;
  }

  .mat-error {
    padding: 5px 0 0 0;
    @include generate-font-size(-1);
  }

  #assistant-list {
    margin: 30px 0 0 0;

    button {
      min-width: 0;
      margin: 0;
      padding: 0;
    }
    > div {
      color: mat-color($foreground, secondary-text);
      border-bottom: thin solid mat-color($foreground, secondary-text);
      word-wrap: break-word;
      padding: 5px 0;
      line-height: 20px;
      @include generate-font-size(-1);

      .mat-icon {
        @include generate-font-size(5);
      }
      > div:last-child {
        .mat-button {
          line-height: 14px;
          width: 100%;
        }
      }
    }
  }

  div.title-dialog {
    font-size: 21px;
    margin-bottom: 4px;
  }
  .sections-content {
    font-size: 18px;
    color: mat-color($foreground, text);

    > div:last-child {
      border-right: none;
    }

    .title-section {
      @include generate-font-size(4);
      color: mat-color($foreground, text);
      padding: 0 0 10px 0;
      display: block;
    }
    .label-element {
      color: #546e7a;
      @include generate-font-size(2);
      padding: 5px 0 0 0;
    }
    .alert-warning {
      color: #ef6c00;
    }
    .operation-container {
      @include border-padd-top();
      @include border-padd-bottom();
      @include border-right();

      section {
        @include border-padd-top();
        .data-table {
          header, content > * {
            padding: 7px 5px;
          }
          content > *:nth-child(2n) {
            background-color: map_get($mat-grey, 50);
          }
        }
      }

      section:first-child {
        border: none;
        padding: 0;
      }
      .data {
        padding-right: $padd-section;
      }
      .barcode-container {
        min-height: 77.44px;
      }
      p {
        padding: 7px 0;
        @include generate-font-size(1);
        span {
          color: mat-color($foreground, secondary-text);
          padding: 0 0 0 5px;
        }
      }
    }
    .safety-container {
      @include border-padd-top();
      @include border-right();
      @include padding-left();
    }
    .maintenance-container {
      @include border-padd-top();
      @include padding-left();
      .full-width {
        width: 100%;
      }
    }
  }

}

