<section>
    <header fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="25" fxLayout="column">Drag and Drop Task List</div>
        <div fxFlex="25" fxLayout="column">To Do</div>
        <div fxFlex="25" fxLayout="column">Doing</div>
        <div fxFlex="25" fxLayout="column">Done</div>
    </header>
    <div class="wrapper" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="25" id="{{backlogCol.name}}" fxLayout="column" class="container backlog" [dragula]="kanbanName">
            <lsl-kanban-card id="{{card.id}}" *ngFor="let card of activities$ | async" [card]="card"></lsl-kanban-card>
        </div>
        <div fxFlex="25" id="{{todoCol.name}}" fxLayout="column" class="container drop" [dragula]="kanbanName">
            <lsl-kanban-card *ngFor="let card of todoCol.cards" [card]="card"></lsl-kanban-card>
        </div>
        <div fxFlex="25" id="{{doingCol.name}}" fxLayout="column" class="container drop" [dragula]="kanbanName">
            <lsl-kanban-card *ngFor="let card of doingCol.cards" [card]="card"></lsl-kanban-card>
        </div>
        <div fxFlex="25" id="{{doneCol.name}}" fxLayout="column" class="container drop" [dragula]="kanbanName">
            <lsl-kanban-card *ngFor="let card of doneCol.cards" [card]="card"></lsl-kanban-card>
        </div>
    </div>
</section>