@import '../../../assets/style/baseTheme/colorStyle';
@import '../../../assets/style/baseTheme/sizeStyle';

#toolbar {
    background-color: $white;
    font-family: 'Noto Sans', 'Tahoma', 'Arial', sans-serif;
    color: $typography-dark;
    height: $navbar-height;
    min-height: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    /deep/
    .mat-toolbar-layout {
        margin: -5px 0 0 0;
    }

    h1{
        font-size: 15px;
    }

    .mat-toolbar.mat-primary {
        background: $white;
    }

    mat-icon {
        color: $blue;
    }

    figure {
        background: url('../../../assets/img/logo-maintenix@2x.png') no-repeat 0 11px;
        display: inline-block;
        height: 55px;
        width: 250px;
        background-size: contain;
    }

    aside{
        width: 100%;
        text-align: right;
        display: inline-block;
        font-size: 13px;

        #datetime{
            padding: 0 10px;
        }

        /deep/
        .mat-input-container{
            width: 120px;
        }
    }
}