@import '../../../../assets/style/baseTheme/colorStyle';
@import '../../../../assets/style/baseTheme/sizeStyle';

@mixin border-padd-top(){
    border-top: 0.6px solid #c5c5c5;
    padding-top: 25px;
}
@mixin border-right(){
    border-right: 1px solid #c5c5c5;
}
@mixin padding-left(){
    padding-left: 33px;
}
@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

@mixin generate-font-size($delta : 0) {
    font-size: $typography-regular + $delta;
}

.mat-dialog-content{
    max-height: none;
}

.title-dialog-container{
    margin-bottom: 33px;
    div{
        margin: 0;
    }
    span.title-dialog{
        @include generate-font-size(9);
        text-transform: uppercase;
        color: #37474f;
    }
    .date-title-dialog{
        @include generate-font-size();
        color:#37474f;
    }
    mat-icon.close-dialog {
        @include md-icon-size(48px);
    }
    .msg-required-dialog{
        @include generate-font-size();
        font-style: italic;
        color: #546e7a;
    }
}

.mat-button.mat-primary{
    background-color: $blue;
}

.content-dialog-container{



    div.title-dialog{
        color: $blue;
        font-size: 21px;
        margin-bottom: 4px;
    }
    .sections-content{
        font-size: 18px;
        color: #37474f;
        .title-section{
            @include generate-font-size(4);
            color: #37474f;
        }
        .label-element{
            color: #546e7a;
            @include generate-font-size(2);
            padding: 5px 0 0 0;
        }
        .alert-warning{
            color: #ef6c00;
        }
        .operation-container{
            @include border-padd-top();
            @include border-right();
            .barcode-container{
                min-height: 77.44px;
            }
        }
        .safety-container{
            @include border-padd-top();
            @include border-right();
            @include padding-left();
        }
        .maintenance-container{
            @include border-padd-top();
            @include padding-left();
            .full-width{
                width: 100%;
            }
        }
    }
}


