<form [formGroup]="contingencyForm" (ngSubmit)="submitForm(contingencyForm.value)">
    <div mat-dialog-title fxLayoutGap="30px" class="title-dialog-container" fxLayout="column">
        <div fxLayout="row" fxFlex>
            <span class="title-dialog" fxFlex>{{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_CREATION' | translate}}</span>
            <span *ngIf="display" class="date-title-dialog">{{ currentDateString | utcDate | date: 'dd MMM yyyy'}} | {{ time | utcDate | date: 'HH:mm:ss' }} UTC</span>
            <button class="close-btn" mat-icon-button fxFlexOffset="1">

            <mat-icon aria-label="Example icon-button" class="material-icons close-dialog" (click)="onCancelClick()">{{ 'OPERATIONS.CONTINGENCY_FORM.CLOSE' | translate }}</mat-icon>
        </button>
        </div>
        <span class="msg-required-dialog" fxFlex>{{'OPERATIONS.CONTINGENCY_FORM.REQUIRE_FIELDS'| translate}}</span>

    </div>

    <div mat-dialog-content class="content-dialog-container">
        <div class="title-dialog">
            <span>{{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_INFORMATION'|translate}}</span>
        </div>

        <div fxLayout="row" class="sections-content">

            <div fxFlex="33" fxLayout="column" class="operation-container">
                <span class="title-section bottom-margin-10">{{'OPERATIONS.CONTINGENCY_FORM.OPERATION_INFO'|translate}}</span>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">

                    <mat-form-field fxFlex="20">
                        <input #searchAircraft type="text" placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.AC' | translate }}" matInput [formControl]="contingencyForm.controls['tail']" [matAutocomplete]="ac"
                            required>
                            <mat-error *ngIf="contingencyForm.controls['tail'].hasError('required') && contingencyForm.controls['tail'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.AIRCRAFT_REQUIRED'|translate}}
                            </mat-error>
                            <mat-autocomplete #ac="matAutocomplete" (optionSelected)="onSelectAircraft(searchAircraft.value)">
                                <mat-option *ngFor="let ac of aircraftList" [value]="ac.tail">
                                    {{ ac.tail }}
                                </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <input matInput placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.FLEET' | translate }}" [formControl]="contingencyForm.controls['fleet']" [(ngModel)]="aircraftTempModel.fleet"
                            name="fleet" required>
                            <mat-error *ngIf="contingencyForm.controls['fleet'].hasError('required') && contingencyForm.controls['fleet'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.FLEET_REQUIRED'|translate}}
                            </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="20">
                        <input matInput placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.OPERATOR' | translate }}" [formControl]="contingencyForm.controls['operator']" [(ngModel)]="aircraftTempModel.operator"
                            name="operator" required>
                            <mat-error *ngIf="contingencyForm.controls['operator'].hasError('required') && contingencyForm.controls['operator'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.OPERATOR_REQUIRED'|translate}}
                            </mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
                    <mat-checkbox labelPosition="after" fxFlex="20" [formControl]="contingencyForm.controls['isBackup']">{{ 'OPERATIONS.CONTINGENCY_FORM.BACKUP' | translate }}</mat-checkbox>
                    <mat-form-field fxFlex="15">
                        <input #searchFlight type="text" placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.FLIGHT' | translate }}" matInput [formControl]="contingencyForm.controls['flightNumber']" [matAutocomplete]="flightNumber"
                            required>
                            <mat-error *ngIf="contingencyForm.controls['flightNumber'].hasError('required') && contingencyForm.controls['flightNumber'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.FLIGHT_REQUIRED'|translate}}
                            </mat-error>
                            <mat-autocomplete #flightNumber="matAutocomplete" (optionSelected)="onSelectFlight(searchFlight.value)">
                                <mat-option *ngFor="let fl of flightList" [value]="fl.flightNumber">
                                    {{ fl.flightNumber }}
                                </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <mat-select placeholder="From" [ngModel]="origin" [formControl]="contingencyForm.controls['origin']"
                                    name="origin">
                            <mat-option *ngFor="let option of flightTempModel" [value]="option.origin">{{option.origin}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="15">
                        <mat-select placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.TO' | translate }}" [ngModel]="destination" [formControl]="contingencyForm.controls['destination']" name="destination">
                            <mat-option *ngFor="let option of flightTempModel" [value]="option.destination">{{option.destination}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column">

                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                        <mat-form-field fxFlex="20">
                            <input matInput placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.FLIGHT_TIME' | translate }}" [(ngModel)]="timeModel" [formControl]="contingencyForm.controls['tm']"
                                   name="tm" required>
                            <mat-error *ngIf="contingencyForm.controls['tm'].hasError('required') && contingencyForm.controls['tm'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.TIME_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>

                        <label fxFlex="10">UTC</label>
                        <mat-form-field fxFlex="25">
                            <input matInput [matDatepicker]="picker" placeholder="Flight Date" [(ngModel)]="dateModel" [formControl]="contingencyForm.controls['dt']"
                                   name="dt" required>
                            <mat-error *ngIf="contingencyForm.controls['dt'].hasError('required') && contingencyForm.controls['dt'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.DATE_REQUIRED'|translate}}
                            </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span class="label-element">Informer * :</span>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <mat-radio-group fxLayoutGap="20px" [formControl]="contingencyForm.controls['informer']">
                            <mat-radio-button labelPosition="after" value="cco">{{ 'OPERATIONS.CONTINGENCY_FORM.CCO' | translate }}</mat-radio-button>
                            <mat-radio-button labelPosition="after" value="maintenance">{{ 'OPERATIONS.CONTINGENCY_FORM.MAINTENANCE' | translate }}</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="contingencyForm.controls['informer'].hasError('required') && contingencyForm.controls['informer'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.INFORMER_REQUIRED'|translate}}
                        </mat-error>
                    </div>
                    <div class="barcode-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                        <mat-checkbox labelPosition="after" fxFlex="20" [formControl]="contingencyForm.controls['barcode']">{{ 'OPERATIONS.CONTINGENCY_FORM.BARCODE' | translate }}</mat-checkbox>
                        <mat-form-field fxFlex="20" *ngIf="contingencyForm.controls['barcode'].value">
                            <input matInput placeholder="barcode">
                        </mat-form-field>
                    </div>

                </div>

            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutGap="30px" class="safety-container">
                <span class="title-section">Safety Event Info</span>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span class="label-element">Safety Event *</span>
                    <mat-radio-group fxLayoutGap="20px" [formControl]="contingencyForm.controls['safety']">
                        <mat-radio-button labelPosition="after" value="yes">{{ 'OPERATIONS.CONTINGENCY_FORM.YES' | translate }}</mat-radio-button>
                        <mat-radio-button labelPosition="after" value="no">{{ 'OPERATIONS.CONTINGENCY_FORM.NO' | translate }}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayout="column" *ngIf="contingencyForm.controls['safety'].value==='yes'">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="70">
                            <mat-select placeholder="{{ 'OPERATIONS.CONTINGENCY_FORM.TECHNICAL_TYPE_PLACEHOLDER' | translate }}" [formControl]="contingencyForm.controls['safetyEventCode']" required>
                                <mat-option *ngFor="let safety of safetyEventList" [value]="safety._code">{{ safety._description }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <span class="alert-warning">{{'OPERATIONS.CONTINGENCY_FORM.SAFETY_MESSAGE'|translate}}</span>
                </div>

            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutGap="20px" class="maintenance-container">
                <span class="title-section">Maintenance Info</span>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span class="label-element">Contingency Type * :</span>
                    <mat-radio-group fxLayoutGap="20px" [formControl]="contingencyForm.controls['contingencyType']">
                        <mat-radio-button labelPosition="after" value="operation">Contingency in the Operation</mat-radio-button>
                        <mat-radio-button labelPosition="after" value="extended">Extended Maintenance</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span class="label-element">Failure Type * :</span>
                    <mat-radio-group fxLayoutGap="20px" [formControl]="contingencyForm.controls['failure']">
                        <mat-radio-button labelPosition="after" value="technical">Technical</mat-radio-button>
                        <mat-radio-button labelPosition="after" value="damage">Damage</mat-radio-button>
                        <mat-radio-button labelPosition="after" value="process">Process</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="{{'OPERATIONS.CONTINGENCY_FORM.OBSERVATIONS_PLACEHOLDER' | translate}}" [formControl]="contingencyForm.controls['observation']"></textarea>
                </mat-form-field>
                <div fxLayout="column" fxLayoutGap="15px">
                    <span class="label-element">{{'OPERATIONS.CONTINGENCY_FORM.TIPOLOGY' | translate}} * </span>

                    <div fxLayout="row" fxLayoutGap="20px">

                        <mat-radio-group fxLayoutGap="10px" [formControl]="contingencyForm.controls['statusCode']">
                            <mat-radio-button labelPosition="after" value="NI1" fxFlex="">NI</mat-radio-button>
                            <mat-radio-button labelPosition="after" value="ETR" fxFlex="">ETR</mat-radio-button>
                        </mat-radio-group>

                        <span fxFlexOffset="" fxLayoutAlign="center center" class="alert-warning">{{'OPERATIONS.CONTINGENCY_FORM.TIPOLOGY_MESSAGE'|translate}}</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <div fxLayout="row">

                        <mat-form-field fxFlex="25">
                            <mat-select placeholder="Interval" [formControl]="contingencyForm.controls['duration']">
                                <mat-option value="30">30 minutes</mat-option>
                                <mat-option value="60">60 minutes</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlexOffset="5" fxLayoutAlign="center center" fxFlex>
                            <div fxLayout="row" fxFlex="60">
                                <mat-icon>today</mat-icon>
                                <span fxLayoutAlign="center center">23.NOV.2017</span>
                            </div>
                            <div fxLayout="row" fxFlex="30">
                                <mat-icon>access_time</mat-icon>
                                <span fxLayoutAlign="center center">15:33</span>
                            </div>
                            <span fxFlex=""> UTC</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button type="button" mat-button (click)="openCancelDialog()">{{'OPERATIONS.CONTINGENCY_FORM.CANCEL_LABEL'|translate}}</button>
        <button type="submit" mat-button mat-raised-button color="primary" [disabled]="!contingencyForm.valid">{{'OPERATIONS.CONTINGENCY_FORM.CREATE_LABEL'|translate}}</button>
    </div>
</form>