<form [formGroup]="aogForm" #formDir="ngForm" (ngSubmit)="submitForm()">
    <div mat-dialog-title  class="title-dialog-container" fxLayout="column">
        <div fxLayout="row" fxFlex>
            <span class="title-dialog" fxFlex>{{'AOG.AOG_FORM.AOG_CREATION' | translate}}</span>
            <span class="date-title-dialog">{{ utcModel.label | utcDate | date: dateFormat}} | {{ timeClock | utcDate | date: hourFormat }} {{'LAYOUT.UTC'| translate}}</span>
            <button id="btn-aog-form-close-btn" type="button" class="close-btn" mat-icon-button
                    fxFlexOffset="1">
                <mat-icon aria-label="Example icon-button" class="material-icons close-dialog" (click)="openCancelDialog()">close</mat-icon>
            </button>
        </div>
        <span class="msg-required-dialog" fxFlex>{{'FORM.REQUIRE_FIELDS'| translate}}</span>
    </div>

    <div mat-dialog-content class="content-dialog-container">
        <div class="title-dialog">
            <span>{{'AOG.AOG_FORM.AOG_INFORMATION'|translate}}</span>
        </div>

        <div fxLayout="row" class="sections-content">
            <div fxFlex="33.3" fxLayout="column" fxLayoutGap="20px">
                <div class="title-section" fxLayout="row" fxLayoutGap="20px">{{'AOG.AOG_FORM.OPERATION_INFO'|translate}}</div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <mat-form-field fxFlex="30">
                        <input required id="in-aog-form-search-aircraft"
                               #searchAircraft type="text"
                               placeholder="{{ 'AOG.AOG_FORM.AC' | translate }}" matInput
                               [formControl]="aogForm.controls['tail']" [matAutocomplete]="ac">
                        <mat-error
                                *ngIf="aogForm.controls['tail'].hasError('required') && aogForm.controls['tail'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.AIRCRAFT_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="aogForm.controls['tail'].touched && aogForm.get('tail').hasError('tailDomain')">
                            {{'OPERATIONS.CONTINGENCY_FORM.AIRCRAFT_OUT_DOMAIN'|translate}}
                        </mat-error>
                        <mat-autocomplete #ac="matAutocomplete"
                                          (optionSelected)="onSelectAircraft(searchAircraft.value)">
                            <mat-option *ngFor="let ac of aircraftList$ | async" [value]="ac.tail">
                                {{ ac.tail }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <input required id="in-aog-form-fleet" matInput
                               placeholder="{{ 'AOG.AOG_FORM.FLEET' | translate }}"
                               [formControl]="aogForm.controls['fleet']"
                               name="fleet" readonly>
                        <mat-error
                                *ngIf="aogForm.controls['fleet'].hasError('required') && aogForm.controls['fleet'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.FLEET_REQUIRED'|translate}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <input required id="in-aog-form-operator"
                               #searchOperator type="text"
                               placeholder="{{ 'AOG.AOG_FORM.OPERATOR' | translate }}" matInput
                               [formControl]="aogForm.controls['operator']" [matAutocomplete]="operatorString">
                        <mat-error
                                *ngIf="aogForm.controls['operator'].hasError('required') && aogForm.controls['operator'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.OPERATOR_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error
                                *ngIf="aogForm.controls['operator'].hasError('operatorDomain') && aogForm.controls['operator'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.OPERATOR_OUT_DOMAIN'|translate}}
                        </mat-error>
                        <mat-autocomplete #operatorString="matAutocomplete">
                            <mat-option *ngFor="let op of operatorList$ | async" [value]="op.code">
                                {{ op.code }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <mat-form-field fxFlex="25">
                        <input required id="in-aog-form-backup-station"
                               #searchStation type="text"
                               placeholder="{{ 'AOG.AOG_FORM.STATION' | translate }}" matInput
                               [formControl]="aogForm.controls['station']" [matAutocomplete]="stationString">
                        <mat-error
                                *ngIf="aogForm.controls['station'].hasError('required') && aogForm.controls['station'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.STATION_REQUIRED'|translate}}
                        </mat-error>
                        <mat-autocomplete #stationString="matAutocomplete">
                            <mat-option *ngFor="let st of locationList$ | async" [value]="st.code">
                                {{ st.code }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <input required id="in-aog-form-barcode" matInput placeholder="{{'AOG.AOG_FORM.BARCODE'|translate}}"
                               [formControl]="aogForm.controls['barcode']" [(ngModel)]="aog.barcode">
                        <mat-error *ngIf="aogForm.controls['barcode'].hasError('pattern') && aogForm.controls['barcode'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_BARCODE_PATTERN'|translate}}
                        </mat-error>
                        <mat-error *ngIf="aogForm.controls['barcode'].hasError('required') && aogForm.controls['barcode'].touched">
                            {{'AOG.AOG_FORM.ERROR.BARCODE_REQUIRED'|translate}}
                        </mat-error>
                        <mat-error *ngIf="aogForm.controls['barcode'].hasError('maxlenght') && aogForm.controls['barcode'].touched">
                            {{'OPERATIONS.CONTINGENCY_FORM.CONTINGENCY_BARCODE_MAX'|translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div fxFlex="33.3" fxLayout="column">
                <div class="title-section" fxLayout="row" >{{'AOG.AOG_FORM.SAFETY_EVENT_INFO'|translate}}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px" fxLayoutGap="20px">
                    <mat-checkbox id="chk-aog-form-safety-event" labelPosition="after" fxFlex="20"
                                  [formControl]="aogForm.controls['safety']">{{'AOG.AOG_FORM.SAFETY_EVENT'|translate}}
                    </mat-checkbox>
                </div>
                <div fxLayout="row" *ngIf="isSafety">
                    <mat-form-field>
                        <mat-select
                                id="sel-aog-form-technical-type"
                                placeholder="{{ 'AOG.AOG_FORM.TECHNICAL_TYPE' | translate }}"
                                [formControl]="aogForm.controls['safetyEventCode']">
                            <mat-option *ngFor="let safety of safetyEventList" [value]="safety.code">{{ safety.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div [hidden]="!(isSafety && formDir.submitted && aogForm.controls['safetyEventCode'].hasError('isSafety'))">
                    <mat-error >
                        {{'AOG.AOG_FORM.ERROR.SAFETY_EVENT_REQUIRED'|translate}}
                    </mat-error>
                </div>
            </div>

            <div fxFlex="33.3" fxLayout="column" fxLayoutGap="20px">
                <div class="title-section" fxLayout="row" fxLayoutGap="20px">{{'AOG.AOG_FORM.MAINTENANCE_INFO'|translate}}</div>
                <label [ngClass]="{ 'invalid': formDir.submitted && aogForm.controls['aogType'].hasError('required') }" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    {{'AOG.AOG_FORM.AOG_TYPE'|translate}} *
                </label>
                <mat-radio-group required fxLayout="column" id="rad-aog-form-contingency-type"
                                 fxLayoutGap="10px" [formControl]="aogForm.controls['aogType']">
                    <mat-radio-button labelPosition="after"
                                      *ngFor="let ct of contingencyType"
                                      value="{{ ct.code }}">{{ ct.description }}
                    </mat-radio-button>
                </mat-radio-group>

                <mat-error *ngIf="aogForm.controls['aogType'].hasError('required') && formDir.submitted">
                    {{'AOG.AOG_FORM.ERROR.AOG_TYPE_REQUIRED'|translate}}
                </mat-error>

                <label [ngClass]="{ 'invalid': formDir.submitted && aogForm.controls['failure'].hasError('required') }" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    {{'AOG.AOG_FORM.FAILURE_TYPE'|translate}} *
                </label>

                <mat-radio-group required fxLayout="column" id="rad-aog-form-failure-type"
                                 fxLayoutGap="10px" [formControl]="aogForm.controls['failure']">
                    <mat-radio-button labelPosition="after"
                                      *ngFor="let ct of failureType"
                                      value="{{ ct.code }}">{{ ct.description }}
                    </mat-radio-button>
                </mat-radio-group>

                <mat-error *ngIf="aogForm.controls['failure'].hasError('required') && formDir.submitted">
                    {{'AOG.AOG_FORM.ERROR.FAILURE_REQUIRED'|translate}}
                </mat-error>

                <mat-form-field class="full-width">
                    <textarea required matInput
                              id="txt-aog-form-reason"
                              placeholder="{{'AOG.AOG_FORM.REASON' | translate}}"
                              [formControl]="aogForm.controls['reason']"
                              #reason>
                    </textarea>
                    <mat-hint align="end">{{reason.value.length}} / 400</mat-hint>
                    <mat-error
                            *ngIf="aogForm.controls['reason'].hasError('required') && aogForm.controls['reason'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.REASON_REQUIRED_VALIDATION' | translate}}
                    </mat-error>
                    <mat-error
                            *ngIf="aogForm.controls['reason'].hasError('maxlength') && aogForm.controls['reason'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.MAX_LENGTH_VALIDATION' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="contingency">
                    <textarea required matInput
                              id="txt-aog-form-close-observation"
                              placeholder="{{'AOG.AOG_FORM.CLOSE_OBSERVATION' | translate}}"
                              [formControl]="aogForm.controls['closeObservation']"
                              #closeObservation>
                    </textarea>
                    <mat-hint align="end">{{closeObservation.value.length}} / 400</mat-hint>
                    <mat-error
                            *ngIf="aogForm.controls['closeObservation'].hasError('required') && aogForm.controls['closeObservation'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.CLOSE_OBSERVARION_REQUIRED_VALIDATION' | translate}}
                    </mat-error>
                    <mat-error
                            *ngIf="aogForm.controls['closeObservation'].hasError('maxlength') && aogForm.controls['closeObservation'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.MAX_LENGTH_VALIDATION' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <textarea required matInput
                              id="txt-aog-form-observation"
                              placeholder="{{'AOG.AOG_FORM.OBSERVATIONS' | translate}}"
                              [formControl]="aogForm.controls['observation']"
                              #observation>
                    </textarea>
                    <mat-hint align="end">{{observation.value.length}} / 400</mat-hint>
                    <mat-error
                            *ngIf="aogForm.controls['observation'].hasError('required') && aogForm.controls['observation'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.OBSERVATION_REQUIRED_VALIDATION' | translate}}
                    </mat-error>
                    <mat-error
                            *ngIf="aogForm.controls['observation'].hasError('maxlength') && aogForm.controls['observation'].touched">
                        {{'OPERATIONS.CONTINGENCY_FORM.MAX_LENGTH_VALIDATION' | translate}}
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="150px" fxLayoutGap="20px">

                        <label fxLayout="row" [ngClass]="{ 'invalid': formDir.submitted && aogForm.controls['tipology'].hasError('required') }">
                            {{'AOG.AOG_FORM.TIPOLOGY'|translate}} *:
                        </label>
                        <mat-radio-group required fxLayout="row" id="rad-aog-form-tipology"
                                         fxLayoutGap="10px" [formControl]="aogForm.controls['tipology']">
                            <mat-radio-button fxFlex="50" labelPosition="after"
                                              *ngFor="let ct of aogStatus"
                                              value="{{ ct.code }}">{{ ct.code }}
                            </mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="aogForm.controls['tipology'].hasError('required') && formDir.submitted">
                            {{'AOG.AOG_FORM.ERROR.TIPOLOGY_REQUIRED'|translate}}
                        </mat-error>
                    </div>
                    <div fxLayout="column" fxFlex="80px">
                        <label fxLayout="row" [ngClass]="{ 'invalid': formDir.submitted && aogForm.controls['duration'].hasError('required') }">
                            {{'AOG.AOG_FORM.DURATION'|translate}} *:
                        </label>
                        <mat-form-field id="form-field-duration">
                            <input required id="in-aog-form-duration"
                                   matInput
                                   type="time"
                                   [formControl]="aogForm.controls['duration']"
                                   name="duration">
                            <mat-error
                                    *ngIf="aogForm.controls['duration'].hasError('required') && aogForm.controls['duration'].touched">
                                {{'OPERATIONS.CONTINGENCY_FORM.DURATION_REQUIRED'|translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div mat-dialog-actions fxLayoutAlign="end">
        <button id="btn-aog-form-cancel" type="button" mat-button (click)="openCancelDialog()">
            {{'BUTTONS.CANCEL'|translate}}
        </button>
        <button id="btn-aog-form-submit" type="submit" mat-button mat-raised-button color="primary">
            {{'BUTTONS.CREATE'|translate}}
        </button>
    </div>
</form>