<section id="comments">
    <section>
        <h2>Select a tag</h2>
        <div fxLayout="row">
            <span class="tag">NI 1</span>
            <span class="tag">NI 2</span>
            <span class="tag">NI 3</span>
            <span class="tag etr">ETR</span>
        </div>
        <form action="">
            <mat-form-field class="full-width">
                <input matInput placeholder="Write your comment">
            </mat-form-field>
        </form>
    </section>

    <section fxLayout="row" fxLayoutAlign="end">
        <button mat-button class="button-cancel">CANCEL</button>
        <button color="primary" mat-raised-button class="button-submit">SAVE</button>
    </section>

    <div class="stripped box no-separator">
        <section class="margin-top">
            <header>
                <mat-icon>account_circle</mat-icon>
                Ignacio Pardo - Analyst
            </header>
            <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</div>
            <footer fxLayout="row">
                <div fxFlex="40">
                    <span class="tag">NI3</span>
                </div>
                <div fxFlex="30" >
                    <mat-icon>account_circle</mat-icon>
                    OCT.12.2017
                </div>
                <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                    <mat-icon>today</mat-icon>
                    30 min ago
                </div>
            </footer>
        </section>
        <section class="margin-top">
            <header>
                <mat-icon>account_circle</mat-icon>
                Ignacio Pardo - Analyst
            </header>
            <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</div>
            <footer fxLayout="row">
                <div fxFlex="40">
                    <span class="tag">NI2</span>
                </div>
                <div fxFlex="30" >
                    <mat-icon>account_circle</mat-icon>
                    OCT.12.2017
                </div>
                <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                    <mat-icon>today</mat-icon>
                    30 min ago
                </div>
            </footer>
        </section>
        <section class="margin-top">
            <header>
                <mat-icon>account_circle</mat-icon>
                Ignacio Pardo - Analyst
            </header>
            <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</div>
            <footer fxLayout="row">
                <div fxFlex="40">
                    <span class="tag">NI1</span>
                </div>
                <div fxFlex="30" >
                    <mat-icon>account_circle</mat-icon>
                    OCT.12.2017
                </div>
                <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                    <mat-icon>today</mat-icon>
                    30 min ago
                </div>
            </footer>
        </section>
        <section fxLayout="row" fxLayoutAlign="end" class="load-more margin-top">
            <a href="">Load more comments</a>
        </section>
    </div>

</section>